[2013-01-10 17:16] gagolews opened #1 "stri_localeset()"
a function to change default (ie. current) ICU locale

[2013-01-10 17:17] gagolews opened #2 "stri_encset()"
a function to change default (ie. current) ICU character encoding used.
Also, warn if there will be problems with R after setting this charset (non-ASCII superset, no 1-to-1 UChar conversion, etc.)

[2013-01-11 08:55] gagolews opened #3 "stri_split_fixed"
`stri_split_fixed(str, split, omitempty)` - vectorized over str, split and omitempty

1) DONE
stri_split_fixed(c("A B", "AB"), " ") == list(c("A", "B"), "AB")
stri_split_fixed(c("A B", "A1B"), c(" ", "1")) == list(c("A", "B"), c("A", "B"))
stri_split_fixed("A B1C", c(" ", "1")) == list(c("A", "B1C"), c("A B", "C"))

2) DONE
omitempty handles this

// sequences of splitting characters - ignore mult

[2013-01-12 00:44] #1 closed, assigned to gagolews

[2013-01-12 01:00] #2 closed, assigned to gagolews

[2013-01-13 00:19] gagolews opened #4 "stri_chartype"
1. Get the general category value for each code point in each UTF-8 string;
   Same as java.lang.Character.getType()
2. Char type info (data frame? / results as factors?)
3. Allow for native, non-UTF-8 encodings

[2013-01-13 00:20] gagolews opened #5 "stri_charcategories"
1. Get the two-letter category name for each Unicode character category identifier
2. Allow for native, non-UTF-8 encodings

[2013-01-13 11:31] gagolews opened #6 "stri_enc_detect"
Detect string encoding, see http://userguide.icu-project.org/conversion/detection
http://www.icu-project.org/apiref/icu4c/ucsdet_8h.html#details

[2013-01-16 18:41] gagolews opened #7 "stri_length"
stri_length - count the number of Unicode code points in a UTF-8-encoded string

[2013-01-16 18:43] gagolews opened #8 "stri_width"
stri_width - determine the width of a UTF-8-encoded string when printed on screen.

e.g. "\u0061\u0328" (61 cc a8) - a + ogonek (ą) - width=1
"\u0105" (c4 85) - a WITH ogonek (ą) - width=1
"\u12468" (e3 82 b0) - グ - width=2

[2013-01-16 18:48] gagolews opened #9 "stri_flatten"
stri_flatten - join all strings from one character vector into one string (this has already been done
missing - additional argument (sep? collapse?) which separates the strings (defaults to "")

[2013-01-16 18:53] gagolews opened #10 "stri_read_lines, stri_write_lines"
two wrappers for readLines and writeLines  - get/set whole content of a text file with possible input encoding auto detection / output reencoding

[2013-01-17 01:41] gagolews opened #11 "stri_locate_all_charclass(), stri_locate_first_charclass(), stri_locate_last_charclass()"
Get all positions (bytes) at which we find a Unicode character belonging to a particular General Category or fulfilling a Binary Property

UPDATE: get also the first and last position

[2013-01-17 01:42] gagolews opened #12 "stri_locate_all_fixed(), stri_locate_first_fixed(), stri_locate_last_fixed()"
Find all/first/last position of a occurence of substr in str (vectorized over str and substr)

[2013-01-17 15:27] gagolews opened #13 "stri_split_charclass()"
Like REVERSE(`stri_locate_all_class()` see #12) and `stri_sub()` (see #14) combined

This may be done in pure R; OR (better) via new (maybe internal) function `stri_split_pos()` (which assumes that positions are ordered increasingly)

[2013-01-17 15:37] gagolews opened #14 "stri_sub()"
`stri_sub(s, from, to, length)`
- `to` and `length` args are mutually exclusive;  `(?missing)`
- omitting `to` and `length` means 'to the end of the string'; `(?missing)`
- the function is vectorized over `s`, `from`, and `length`.
- ASSERT: `length(from)==length(sub)`
- note that `from`/`to`/`length` are indicating Unicode code points, not bytes
- OPTIONALLY: when `from` is omitted then either `t

[2013-01-24 10:50] #7 closed, assigned to nobody

[2013-02-12 07:51] #9 closed, assigned to nobody

[2013-02-14 11:08] bartektartanus opened #15 "stri_trim"
`stri_trim` done
`stri_ltrim` done
`stri_rtrim` done

`stri_trim_all` - trim all whitespace - almost done
NA and character(0) as usual.
`stri_trim_all("   a   a     \t      a \n a    ")=="a a a a"`
`stri_trim_all(" ") == ""`
`stri_trim_all("") == ""`

this function uses `stri_split_fixed` and `stri_flatten`

[2013-03-04 21:13] bartektartanus opened #16 "stri_detect_regex"
[code]

Is this a correct behavior? What this error means?

[2013-03-05 08:41] #16 closed, assigned to nobody

[2013-03-19 20:50] gagolews opened #17 "BUG in stri_detect_regex and/or ICU regex engine"
Two of the following tests fail:

[code]

seems that a long pattern makes ICU regex engine stupid.

This is a critical BUG - we need a workaround.

[2013-03-29 12:58] #17 closed, assigned to gagolews

[2013-05-18 15:35] gagolews opened #18 "stri_totitle - explicit use of custom BreakIterators?"
[code]

this is not the correct result for en_US locale. it should be:

[code]

Currently I get `U_USING_DEFAULT_WARNING` whet querying `BreakIterator::createWordInstance` (even though I use full ICU data lib)

The question is: is correct title casing possible with "raw" ICU?

[2013-05-19 17:10] gagolews opened #19 "stri_*_regex: allow for case-insensitive matches"
TODO: add `ignore_case` argument (stri_prepare_arg_string_1) to all _regex_ functions

Activates UREGEX_CASE_INSENSITIVE  flag for ICU RegexMatcher, see http://www.icu-project.org/apiref/icu4c/uregex_8h.html#a874989dfec4cbeb6baf4d1a51cb529aea909d2ed2c61e34cb62dc13e29f6923ec

[2013-05-19 20:19] gagolews opened #20 "ICU Collator settings via stri_collator_options()"
allow stri_compare, stri_order, and stri_*_fixed to use all options described in http://www.icu-project.org/apiref/icu4c/ucol_8h.html#a583fbe7fc4a850e2fcc692e766d2826c

[2013-05-19 21:58] #20 closed, assigned to gagolews

[2013-05-19 22:01] gagolews opened #21 "stri_order, stri_cmp - byte compare, no collation on collate_opts = NA"
missing functionality - collate_opts=NA

[2013-05-19 22:02] gagolews opened #22 "stri_detect_fixed - use collator_opts"
now we have only byte comparison, collator code is half-ready

[2013-05-20 14:06] #22 closed, assigned to gagolews

[2013-05-21 16:49] #21 closed, assigned to gagolews

[2013-05-21 17:46] gagolews opened #23 "stri_*_fixed: add an option to take into account overlapping pattern matches"
it'll be easy :)

[2013-05-21 17:55] gagolews opened #24 "stri_replace_fixed, stri_locate_fixed_* - use collator & StriContainerUTF8 for byte search"
see stri_count_fixed / stri_count_fixed_bytes for inspiration
http://www.icu-project.org/apiref/icu4c/usearch_8h.html

int32_t     usearch_getMatchedStart (const UStringSearch *strsrch)

int32_t     usearch_getMatchedLength (const UStringSearch *strsrch)

int32_t     usearch_getMatchedText

[2013-05-21 18:04] gagolews opened #25 "stri_locate_*_regex add capture_groups arg"
allow for capturing subgroups of regexps
RegexMatcher::

virtual int32_t     start (int32_t group, UErrorCode &status) const
virtual int32_t     end (int32_t group, UErrorCode &status) const
virtual UnicodeString   group (UErrorCode &status) const

[2013-05-28 08:07] #14 closed, assigned to nobody

[2013-05-31 11:25] gagolews opened #26 "stri_locate_last_regex"

[2013-05-31 11:32] gagolews opened #27 "stri_indices_merge [internal]"
stri_locate_all_charclass::

   if (merge) return(ret)
   else return(lapply(ret, function(m) {
      if (is.na(m[1,1])) return(m)
      idx <- unlist(apply(m, 1, function(k) k[1]:k[2]))
      matrix(idx, ncol=2, nrow=length(idx),
             dimnames=list(NULL,c('start', 'end')))
   }))

[2013-05-31 20:42] gagolews opened #28 "stri_replace_first_regex(), stri_replace_last_regex()"

[2013-05-31 20:49] gagolews opened #29 "stri_replace_*_charclass()"

[2013-05-31 21:39] gagolews opened #30 "stri_sub() and stri_sub<-() should accept lists"
[code]

someday we may wish to add a function that is not vectorized w.r.t. to the first element,
so that we obtain `"ZYa"` (from/to/length should be sorted increasingly)

OR

the above setting will be strange (non-vectorized? OMG!), so we may accept lists of integer vectors as from/to/length

[2013-06-02 20:12] gagolews opened #31 "stri_sub_index()"
[code]

[2013-06-04 01:24] #11 closed, assigned to gagolews

[2013-06-05 21:13] #15 closed, assigned to nobody

[2013-06-05 21:13] gagolews opened #32 "stri_trim_double [ -> stri_replace_all_charclass, merge=TRUE]"
remove double e.g whitespaces (charclass) -> single

[2013-06-05 21:14] #27 closed, assigned to nobody

[2013-06-06 18:35] gagolews opened #33 "HTML Entities - encode & decode"
Something like: http://php.net/manual/en/function.html-entity-decode.php and http://php.net/manual/en/function.htmlentities.php and also http://www.php.net/manual/en/function.htmlspecialchars.php

[2013-06-06 18:37] gagolews opened #34 "MIME base64 - encode & decode"
see e.g. http://php.net/manual/en/function.base64-encode.php and http://www.php.net/manual/en/function.base64-decode.php

[2013-06-07 21:32] #29 closed, assigned to nobody

[2013-06-14 18:53] #13 closed, assigned to nobody

[2013-06-18 14:21] #19 closed, assigned to nobody

[2013-06-19 21:52] #26 closed, assigned to nobody

[2013-06-21 21:44] #28 closed, assigned to nobody

[2013-06-21 23:09] #12 closed, assigned to nobody

[2013-06-26 14:26] bartektartanus opened #35 "search_*_fixed: use Knuth-Morris-Pratt search algorithm"
Implement Knuth–Morris–Pratt algorithm for every search_byte function.

http://en.wikipedia.org/wiki/Knuth%E2%80%93Morris%E2%80%93Pratt_algorithm

[2013-06-26 21:47] #24 closed, assigned to nobody

[2013-06-26 21:47] #3 closed, assigned to nobody

[2013-07-02 13:00] gagolews opened #36 "escape all non ASCII characters in a string for R use (\uXXXX, \UXXXXXXXX)"
http://stat.ethz.ch/R-manual/R-devel/library/base/html/Quotes.html

[2013-08-03 09:23] #6 closed, assigned to gagolews

[2013-08-03 19:08] gagolews opened #37 "stri_split_newline"
Split with any of the following. If EOLs are not consistent, generate a warning.

Input: character vector. Output: List of character vectors.

Newline chars according to Unicode TR:

http://www.unicode.org/reports/tr18/ : (?:\u{D A}|(?!\u{D A})[\u{A}-\u{D}\u{85}\u{2028}\u{2029}]

http://www.unicode.org/standard/reports/tr13/tr13-5.html Unicode Technical Report #13
Unicode Newline Guidelines

[code

[2013-08-04 10:59] #37 closed, assigned to gagolews

[2013-08-09 11:17] gagolews opened #38 "StriContainerUTF8: detect BOMs"
If BOM is found in UTF8, ~~warn and~~ remove it

[2013-08-17 11:21] #36 closed, assigned to gagolews

[2013-08-18 16:20] #10 closed, assigned to gagolews

[2013-10-20 18:11] bartoszukm opened #39 "stri_read_lines bad encoding"
When I want to read some files with argument encoding = "auto", sometimes it detects bad encoding and I have bad data in variable.

[2013-10-25 14:52] gagolews opened #40 "stri_enc_tonative - new fun"
like enc2native

[2013-10-25 14:54] bartektartanus opened #41 "stri_startswith & stri_endswith"
stri_startswith & stri_endswith
logical functions, like java startsWith and endsWith

[2013-10-25 14:57] gagolews opened #42 "stri_wrap"
like str_wrap

[2013-10-25 14:57] gagolews opened #43 "stri_pad"
like str_pad

[2013-10-25 14:58] gagolews opened #44 "match, pmatch"

[2013-10-25 15:01] gagolews opened #45 "stri_(un)escape_basic"
like stri_escape_unicode, but without escaping > 127 codes in UTF

[2013-10-25 15:03] gagolews opened #46 "stri_trans_char (implementation of chartr)"
[code]

[2013-10-25 15:05] gagolews opened #47 "stri_replace(str, setWhat, setTo)"
allow a different vectorization scheme in stri_replace\* - outputs 1 string resulting
it sth similar to multiple calls

[code]

[2013-11-12 11:41] gagolews opened #48 "? stri_ranges_union(), stri_ranges_intersect(), stri_ranges_diff() ?"
These functions may be useful when operating on results of stri_locate_*

e.g.
x <- stri_locate_all_charclass(str, "WHITESPACE")
y <- stri_locate_all_charclass(str, "L")
stri_sub(str, stri_ranges_union(x, y)) # extract whitespaces and letters

some options:
- operate row by row on a single matrix (stri_locate_first/last)
- operate on all rows on a matrix or a list of matrices (stri_locate_all)

th

[2013-11-13 15:36] #39 closed, assigned to nobody

[2013-12-04 12:08] bartektartanus opened #49 "stri_paste bug"
[code]

[2013-12-04 12:28] #49 closed, assigned to gagolews

[2014-03-06 09:12] bartektartanus opened #50 "stri_generate_pswd / generate random strings ?"
Write function which generates password. Add options like digits, letters, capital, special to determine which symbols should be used to generate password.

Inspiration:
http://stackoverflow.com/questions/22219035/function-to-generate-a-random-password

[2014-03-10 21:51] gagolews opened #51 "dowload.file icudt52l/b in install.libs.R"
- add R/install.R with `stri_install_check(silent=FALSE)` and `stri_install_icudt(check=TRUE, libpath="...")`
- use at least 2 mirrors (Rexamine, github) + download.file "wb" wrapped in tryCatch
- unzip to lib/

[2014-03-11 10:54] #51 closed, assigned to gagolews

[2014-03-11 17:01] gagolews opened #52 "String8buf"
String8 as a write buffer is currently a mess, rewrite.

[2014-03-11 18:10] gagolews opened #53 "wiser UNPROTECT call handling strategy on throw StriException + some memleaks"
redefine PROTECT and UNPROTECT macros within STRI__ERROR_HANDLER_BEGIN..STRI__ERROR_HANDLER_END to UNPROTECT mem automatically on StriException

[2014-03-12 19:55] gagolews opened #54 "Suggest calling stri_install_check() on ICU's required resource unavailable error"
Add a custom msg for U_MISSING_RESOURCE_ERROR

[2014-03-14 09:35] #54 closed, assigned to gagolews

[2014-03-14 20:23] gagolews opened #55 "stri_order, stri_sort: where-to-put-na-argument"
?sort:

[2014-03-14 21:18] gagolews opened #56 "stri_replace_NA(): substitute NA_character_ in a given character vector"
stri_subst_na(c("a", NA, "b"), "NA") == c("a", "NA", "b")

many functions (e.g. paste, nchar, etc.) act on NA as it were "NA". If a user wants it, why couldn't we provide such a compatibility mode?

[2014-03-15 18:16] gagolews opened #57 "StriContainerUtf8 and -16 reencodes a UTF8 string on native.enc=UTF-8"
On UTF-8 systems, enc2native returns an "unknown" == native marked strings, with unchanged contents. StriContainer does not detect whether we use UTF-8 and tries to reencode them, leading to slowdowns.

[2014-03-15 21:12] #57 closed, assigned to gagolews

[2014-03-16 10:45] gagolews opened #58 "stri_cmp_le, ge, gt, ge, eq, neq + operators %stri<=%, %stri>=% etc."
stri_cmp now returns -1 / 0 / 1; create specialized (and more user friendly) functions that return LOGICAL

[2014-03-19 18:13] gagolews opened #59 "Which functions should preserve objects' attributes?"
~~Currently the only function that preserves a selected subset of the input object's attibutes is stri_sort~~ (see #63)

Which other functions should preserve the attributes?
Which attributes should be preserved (names, ...)?
If there are > 1 parameters, what shall be the attribute selection strategy?

[2014-03-19 18:16] gagolews opened #60 "stri_unique, stri_duplicated, stri_duplicated_any"
our own implementation of the unique() function, with the same options as the `stri_order()` function has (cmp with collation, bytewise cmp)

[2014-03-19 18:20] gagolews opened #61 "stri_flatten/join/merge_list?"
[code]

a function that acts like:

[code]

but of course performs the above much faster

[2014-03-19 23:08] #58 closed, assigned to nobody

[2014-03-19 23:12] gagolews opened #62 "Aliases for binary operators: %stri==% or %s==% or...?"
@bartektartanus  reported that ggplot2 defines `%+%` -- this may shadow our ops.
I think that we should introduce aliases for the operators that minimize the risk of being used by other packages.

Or to overload them with S4 methods???

[2014-03-19 23:15] gagolews opened #63 "stri_sort() shouldn't call []"
`stri_sort()` currently is implemented as follows.

[code]

\+ preserves some object's attributes

\- is slower

\- doesn't necessarily give output in UTF-8

=> rewrite in C++

[2014-03-20 22:24] #55 closed, assigned to nobody

[2014-03-20 22:51] #63 closed, assigned to gagolews

[2014-03-20 22:56] gagolews opened #64 "StriContainerUTF8::toR for !m_memalloc in String8 should return original CHARSXP"
This should increase the performance of stri_sort and stri_enc_toutf8

[2014-03-22 13:19] #64 closed, assigned to gagolews

[2014-03-22 13:45] gagolews opened #65 "stri_*_fixed should use "literal search" by default"
stri_*_fixed now uses ICU locale-aware StringSearch
- it correctly deals with accented letters, conjoined letters, ignorable punctuation,
  ignorable case, etc. - and thus performs a natural language search, see http://userguide.icu-project.org/collation/icu-string-search-service

On the other hand
- it is **EXTREMELY** slow - and we cannot do anything about it

I think that the user may expect th

[2014-03-23 22:27] #38 closed, assigned to gagolews

[2014-03-24 14:14] #52 closed, assigned to gagolews

[2014-03-26 20:46] gagolews opened #66 "stri_enc_toutf8: add `validate` arg to check for proper utf8 byte seq"
`validate`:
- `TRUE` - insert `U+FFFD`
- `FALSE` - do not validate, default
- `NA` - replace bogus string with a missing one

[2014-03-28 20:07] gagolews opened #67 "stri__ucnv_open calls Rf_error within STRI__ERROR_HANDLER"
This may lead to mem leaks if opening ucnv fails

[2014-03-28 22:03] #67 closed, assigned to gagolews

[2014-03-30 18:48] #66 closed, assigned to gagolews

[2014-03-30 18:59] #40 closed, assigned to nobody

[2014-04-02 11:14] #56 closed, assigned to nobody

[2014-04-03 12:09] #62 closed, assigned to gagolews

[2014-04-03 20:37] #32 closed, assigned to gagolews

[2014-04-04 21:29] #50 closed, assigned to nobody

[2014-04-04 21:45] gagolews opened #68 "stri_*_charclass should utilize UnicodeSet"
a user may wish to specify UnicodeSet (regex like) pattern to have better control on what's being matched

http://www.icu-project.org/apiref/icu4c/classicu_1_1UnicodeSet.html#a594937d2d955aac67bd091ba9164e164

~~this should include Unicode Binary Properties (`WHITE_SPACE`, `ALPHABETIC`, etc. - our own extensions)~~ - no need to do this, we may use `p{Wspace}`

possibly manual handling of General C

[2014-04-06 12:43] #68 closed, assigned to gagolews

[2014-04-06 12:51] gagolews opened #69 "Update ICU4C distrib to version 55.1"
ICU4C 53.1 implements a new collator engine (the authors claim it is much faster for UTF8 strings).

This operation should not be scheduled for stringi_0.2, but for a later version.

[2014-04-06 12:57] gagolews opened #70 "Create UTF16 cache"
Scheduled for stringi >> 0.2.

Create a global UTF16 cache to avoid constantly string reencoding to UTF16. I am not convinced how to do it yet.
- add global option stri_cache_size (256MB)??
- use R's weak pointers?
- rewrite all (or chosen) functions that are UTF-8 based to support also UTF-16

Note than conversion native->UTF16 is faster than UTF8->UTF16

This should mostly speed up regex searche

[2014-04-07 21:35] arunsrinivasan opened #71 "Speed in regex operations"
Here's the code I provided during a discussion with Bartek Tartanus on SO's [R Public chat room](http://chat.stackoverflow.com/transcript/message/15685928#15685928)

[code]

With `fixed=TRUE`, `stringi` is  ~50x slower than base R. And `fixed=TRUE` is in fact slower than without in `stringi`. Even without `fixed=TRUE`, it's still about ~2x or ~3x slower than base R (depending on `perl=FALSE/TRUE`)

[2014-04-17 19:35] #60 closed, assigned to nobody

[2014-04-18 11:05] #53 closed, assigned to gagolews

[2014-04-18 11:33] gagolews opened #72 "Text Transliteration"
Implement ICU Transliteration interface, see http://userguide.icu-project.org/transforms/general

This could solve [this user's problem](http://stackoverflow.com/questions/17517319/r-replacing-foreign-characters-in-a-string?lq=1) and also [this one](http://stackoverflow.com/questions/23152861/reading-foreign-characters/23153175#23153175)

[2014-04-19 09:36] #72 closed, assigned to gagolews

[2014-04-20 09:51] #18 closed, assigned to nobody

[2014-04-20 11:21] gagolews opened #73 "stri_justify"
a function from the stri_pad and stri_wrap family

[code]

[2014-04-20 14:27] #43 closed, assigned to nobody

[2014-04-21 15:33] gagolews opened #74 "Provide access to ICU's BreakIterator"
Allow to split text at Text Boundaries indicated by `BreakIterator`, see http://userguide.icu-project.org/boundaryanalysis

[2014-04-22 15:22] #74 closed, assigned to gagolews

[2014-04-27 09:48] gagolews opened #75 "stri_locate_* output not consistent with str_locate_*'s"
[code]

[code]

similarly for `extract`:

[code]

[2014-04-28 08:13] gagolews opened #76 "N-grams generation?"
http://en.wikipedia.org/wiki/N-gram

[2014-04-28 10:03] gagolews opened #77 "stri_rand_lipsum"
A "Lorem ipsum" generator

see:
http://code.google.com/p/lorem-ipsum-generator/wiki/AboutLoremIpsumGenerator
and http://code.google.com/p/nlipsum/

[2014-04-30 19:05] #42 closed, assigned to nobody

[2014-05-02 14:19] gagolews opened #78 "Memleak in Transliterator as reported by valgrind"
stringi 0.2-3; pl_PL.UTF-8; ICU4C 50.1.2; Unicode 6.2

`R -d "valgrind --tool=memcheck --leak-check=full"` output:

[code]

[2014-05-02 14:23] gagolews opened #79 "UBSAN: load of misaligned address in stri*fixed"
Reported by BR

[code]

[2014-05-09 10:29] #65 closed, assigned to gagolews

[2014-05-10 20:43] #71 closed, assigned to nobody

[2014-05-11 20:22] #35 closed, assigned to gagolews

[2014-05-14 09:22] #78 closed, assigned to gagolews

[2014-05-15 11:36] #79 closed, assigned to gagolews

[2014-05-16 19:03] AbhishekKapoor opened #80 "Tagging/labeling back text or word combination in the data frame"
Hi Sir,
I am working on insurance data which have field like Date, brand, Comment and Location.
![data picture](https://cloud.githubusercontent.com/assets/6093416/3001194/bef2de1c-dd2c-11e3-8bad-26e04c499e07.png)
I want to tag few combination of word/words back to data file.
Please help me to do so
Data

Date Brand Comment Location - Delhi
08-06-2013 Max Life Max Life Insurance - Misleading Inform

[2014-05-16 19:14] #80 closed, assigned to nobody

[2014-05-18 20:13] gagolews opened #81 "Number Format (format and parse)"
Formatter types: URBNF_SPELLOUT, which creates a formatter that spells out a value in words in the desired language, URBNF_ORDINAL, which attaches an ordinal suffix from the desired language to the end of a number (e.g. "123rd"), URBNF_DURATION, which formats a duration in seconds as hours, minutes, and seconds, and URBNF_NUMBERING_SYSTEM, which is used to invoke rules for alternate numbering syst

[2014-05-21 14:06] bartoszukm opened #82 "stri_write_lines, append mode"
Can you add an "append" mode to stri_write_lines function? I have a project, where I concatenate many small files (~5kB) into one big file(~100MB). I have to read this big file for every single small file, so I can add some lines and write it again as whole file. After some iterations, this process get slower and slower, because I have to read bigger and bigger file to memory (stri_read_lines) eve

[2014-05-21 15:57] gagolews opened #83 "stri_read_lines, read from an url"
allow for `stri_read_lines('http:/.......')`

[2014-05-22 19:30] gagolews opened #84 "Longest common substring, prefix, and suffix"

[2014-05-22 21:28] gagolews opened #85 "Phonetic algorithms"
there are many of those in PHP

see also http://en.wikipedia.org/wiki/Phonetic_algorithm

[2014-05-27 11:26] bartektartanus opened #86 "stri_detect_fixed empty string bug"

[2014-05-27 12:39] #86 closed, assigned to gagolews

[2014-06-26 00:19] noamross opened #87 "%>% overlaps with pipe operator from magrittr"
The package `magrittr` is rapidly becoming very popular, and it's central function is pipe operator `%>%`, which stringi uses as a comparison operator.  This means that you can't use both in the same workflow.  Would you consider changing the syntax of `%>%` (and `%<%`)?

[2014-07-03 14:00] gagolews opened #88 "Expose C++ API via R_(Get|Register)CCallable"
It would be nice to call some stringi funs (like stri_enc_utf8) from e.g. Rcpp...

[2014-07-03 15:59] hadley opened #89 "How to diagnose encoding failures?"
[code]

How can I figure out what the bad characters were and see them in out1 and out2?  In other words, how can I confirm that ISO-8859-1 looks like a better encoding?

[2014-07-03 19:42] gagolews opened #90 "stri_which_regex etc."
like `which(stri_detect_...)`

[2014-07-03 19:44] gagolews opened #91 "stri_subset_regex etc."
`stri_subset_regex(str, pattern)` works like `str[stri_detect_regex(str, pattern)]`, i.e. returns a subset of `str` consisting of strings matching a given `pattern`

[2014-07-06 13:09] bartektartanus opened #92 "stri_*_first/last_charclass - merge arg"
Now it works like this:

[code]

and we could add merge parameter (like in extract_all function) so it could work like this:

[code]

[2014-07-25 10:50] #91 closed, assigned to nobody

[2014-08-02 17:20] hadley opened #93 "Detect encoding doesn't detect windows-1252"
e.g.

[code]

There's an embedded null at:

[code]

See http://stackoverflow.com/questions/25090225 for the original context.

[2014-08-03 16:02] #87 closed, assigned to gagolews

[2014-08-14 15:33] trinker opened #94 "Errors on Solaris"
Love the work in this package.  I think that the work many are doing to make R faster is awesome and this package is moving to do this for string manipulation.

I am working on a package that contains canned regexes and wraps them in a way that the user can either substitute or extract them.  More for convenience than speed.  `stringi` has the speed and if users want the speed they can use the reg

[2014-08-16 17:22] gagolews opened #95 "fast sorting/grouping"
return a character vector's (ordering) permutation such that all the duplicated elements appear consecutively (a radix sort on addresses?); this may be used for implementing a fast join-like operation and fast version of factor()

[2014-08-23 23:23] bartektartanus opened #96 "stri_split - add `from_last` parameter"
Add logical `backwards` parameter to split functions which will work when n_max != -1. If true then splitting is done from the end of a string.

[2014-08-26 12:54] bartektartanus opened #97 "Change function case style"
Eg from camelCase to underscore_case etc

Inspiration:
http://stackoverflow.com/questions/25504222/elegant-r-function-mixed-case-separated-by-periods-to-underscore-separated-lowe

[2014-09-15 08:02] gagolews opened #98 "Case mapping with a break iterator"
use a ucasemap_setBreakIterator - Set the break iterator that is used for titlecasing. - allow for uppercasing first letter of each sentence etc.; also, allow for providing a set of non-stop words ("a", "the", "an", etc.)

[2014-09-18 07:24] drammock opened #99 "Error using `stri_replace_all`"
using `stringi` version 0.2-5, I get the following unexpected result:

[code]

Seems like something is wrong with the convenience function `stri_replace_all`

[2014-09-18 10:05] #99 closed, assigned to gagolews

[2014-09-22 09:42] drammock opened #100 "Unexpected behavior of `n_max` argument in `stri_split_fixed`"
Consider the following code:

[code]

I (wrongly) thought that the `n_max` argument meant "please perform the splitting, and return to me only the first `n` pieces".  So from the above code, I expected `[[1]] [1] "ab" [[2]] [1] "d"`.  This is clearly not what is happening.

The documentation for `n_max` says "integer vector, the maximal number of pieces to return".  At the very least, I think this

[2014-10-13 21:10] barrenWuffet opened #101 "Handling of '+' character in [:punct:]"
Here is an issue I came across:

http://stackoverflow.com/questions/26348643/r-regex-what-is-a-considered

Thanks for the package, it's very fast.

[2014-10-14 09:19] #101 closed, assigned to gagolews

[2014-10-18 18:41] potockan opened #102 "New version of stri_replace_all_fixed needed (vectorize_all=FALSE)"
To proceed with another project I need a new version of stri_replace_all_fixed. Is it possible you could make it?

It should take 3 arguments the same as in the original function. But it should replace the i-th found pattern with the i-th element of the replacement pattern.

Example:
`stri_replace_all_fixed("AAAA abcdef BBBB",c("AAAA", "BBBB"), c("1111", "2222"))`

In result I would like to have o

[2014-10-19 10:36] gagolews opened #103 "Merge man pages for split/locate/detect/etc."
e.g. `stri_split`, `stri_split_fixed`, `stri_split_regex`, `stri_split_regex`, `stri_split_charclass` man pages should be merged into 1 man page; basically they contain the same information ++ currently they're difficult to maintain

[2014-10-19 17:32] #100 closed, assigned to gagolews

[2014-10-22 12:57] trinker opened #104 "conflict with the stringi::`%>%` operator"
The `dplyr` package has become very popular and so has it's `magrittr` borrowed operator `%>%`.  This piping style is nice for readable code particularly for nested calls.  The problem arises when one uses this framework with `stringi` as the `stringi` package also has an operator of the same name `%>%`.  The problem is they are not at all the same.  The `stringi` use makes sense (as does the `mag

[2014-10-22 12:59] #104 closed, assigned to gagolews

[2014-10-22 21:01] #103 closed, assigned to gagolews

[2014-10-22 21:06] #47 closed, assigned to nobody

[2014-10-22 21:10] #75 closed, assigned to nobody

[2014-10-22 21:19] #61 closed, assigned to nobody

[2014-10-23 21:39] gagolews opened #105 "stri_list2matrix"
Convert a list of atomic vectors to a character matrix

Unlike `simplify2array` always return a matrix.

Possible scenarios:

[code]

Useful in connection with `stri_extract` and `stri_split`

[2014-10-23 21:55] #105 closed, assigned to gagolews

[2014-10-23 22:03] gagolews opened #106 "stri_split, stri_extract_all: add `simplify` arg"
Add a new arg to `stri_split_*` and `stri_extract_all_*`: `simplify` (defaults `FALSE` for backward compatibility.

If `simplify=TRUE`, then call `stri_list2matrix(RESULT_OBJECT, byrow=TRUE)`

Currently we have:

[code]

with `simplify=TRUE` we'd get:

[code]

which is by far more proper than doing:

[code]

especially if there are non-equal numbers of tokens in the result after a split op.

[2014-10-24 07:54] gagolews opened #107 "stri_split: allow omit_empty = NA"
Feature request by @mrdwab in #106 :

[code]

[2014-10-24 10:14] #107 closed, assigned to gagolews

[2014-10-24 19:22] #98 closed, assigned to gagolews

[2014-10-26 14:53] #77 closed, assigned to gagolews

[2014-10-29 21:41] gagolews opened #108 "stri_opts_brkiter - tune BreakIterator's behavior"
Allow for tuning BreakIterator's behavior
- type
- locale
- skip_... - breaks types to ignore

current implementation of `*_boundaries` is too restrictive and hence not very useful...

[2014-10-29 22:43] gagolews opened #109 "stri_count_boundaries"
add `stri_count_boundaries` - counting number of words, sentences, characters

sth like

[code]

[2014-10-30 12:12] #76 closed, assigned to nobody

[2014-10-30 14:04] #108 closed, assigned to gagolews

[2014-10-30 14:09] #106 closed, assigned to gagolews

[2014-10-30 18:28] #109 closed, assigned to gagolews

[2014-10-31 22:01] gagolews opened #110 "stri_*_fixed: add an option to perform a simple case-insensitive match"
This will not be valid for natural language processing, but... `UChar32 u_toupper   (   UChar32     c   )` may be called on each character in `str` and `pattern` to perform a case-insensitive match for the `fixed` engine.

I reckon that it may be useful for some users...

However: `u_toupper`: This function only returns the simple, single-code point case mapping. Full case mappings should be used

[2014-10-31 22:20] gagolews opened #111 "Allow args to `opts_regex` etc. to be passed with "...""
Currently calling `stri_opts_collator`, `stri_opts_regex`, and `stri_opts_brkiter` e.g. in stringi-search functions is a "little bit" inconvenient. What about adding a "..." param to all the functions so that all the matching args are passed to `stri_opts`?

Something like:

[code]

Benchmarks:

[code]

[code]

Do we accept such a performance "drop"? That'd be really user-friendly, IMO. :)

[2014-11-01 11:49] #41 closed, assigned to gagolews

[2014-11-01 22:39] gagolews opened #112 "stri_prepare_arg_* retvals are not PROTECTed from gc"
stri_prepare_arg_ may return e.g. results generated by `Rf_allocVectors` - we never protect them, and that's a serious bug

[2014-11-02 10:15] gagolews opened #113 "Use BreakIterator for search_coll and search_fixed (optionally)"
`usearch_open (const UChar *pattern, int32_t patternlength, const UChar *text, int32_t textlength, const char *locale, UBreakIterator *breakiter, UErrorCode *status)` -- a `BreakIterator` may be provided to search only @ specific text boundaries (e.g. match whole words only)

allow `search` funs to be fed with a break iterator to use; add briter support for search_fixed

[2014-11-04 21:09] #102 closed, assigned to gagolews

[2014-11-05 18:37] #112 closed, assigned to gagolews

[2014-11-25 11:38] gagolews opened #114 "stri_paste: order of elements returned"
As reported by @bartektartanus

[code]

vs

[code]

This should be corrected.

[2014-11-26 14:47] hadley opened #115 "Could icudt52l.dat live in separate package?"
It's large, doesn't compress particularly well, and I suspect it doesn't update particularly often. If it could live in a separate package, you'd significantly reduce the size of the package when only stringi, and not the unicode data is updated.

[2014-11-26 16:33] hadley opened #116 "stri_c should silently drop NULLs"
[code]

I think that's useful because it allows you to write expressions like:

[code]

[2014-11-26 19:32] hadley opened #117 "stri_locate, stri_match, stri_extract: If there are no matches, return a 0-row matrix"
I think this is more consistent: 2 matches = 2 rows, 1 match = 1 row, 0 matches = 0 rows:

[code]

[2014-11-26 20:05] hadley opened #118 "stri_wrap: add indent, exdent, initial, and prefix args"
These are pretty handy to have when wrapping strings.

(BTW I love that `stri_wrap()` implements Knuth's line wrapping algorithm :smile:)

[2014-11-26 21:52] hadley opened #119 "stri_split_boundaries should have n_max argument"
To match other split functions

[2014-11-26 22:41] #114 closed, assigned to nobody

[2014-11-27 14:39] #117 closed, assigned to gagolews

[2014-11-27 14:45] hadley opened #120 "stri_locate_first_boundaries etc."
It seems like `stri_locate_boundaries()` is implicitly `stri_locate_all_boundaries` and it would be nice to have a matching `stri_locate_first_boundaries()`.

(I don't have a burning need for this, but stringr uses the convention (from base R) that `pattern = ""` means to find character boundaries)

[2014-11-27 14:49] #116 closed, assigned to gagolews

[2014-11-27 15:04] hadley opened #121 "str_sub_boundaries ?"
Seems like it would make sense to have a version of `str_sub()` that let you specify how the string was decomposed into subunits.

[2014-11-27 15:10] hadley opened #122 "stri_subset should silently drop missings"
This is the usual behaviour for subset wrappers:

[code]

[2014-11-27 22:27] hadley opened #123 "useDynLib"
Instead of (e.g.)

[code]

this is a little faster:

[code]

as the lookup is only done once.

[2014-11-28 00:06] #123 closed, assigned to gagolews

[2014-11-28 00:22] gagolews opened #124 "stri_subset<-"
As proposed by @hadley [moved from #122]:

[2014-11-29 00:01] #119 closed, assigned to nobody

[2014-12-02 20:58] bartoszukm opened #125 "Difference between stri_replace_first_regex and stri_replace_last_regex"
Today I teached my honorable students your distinguished library and unfortunately I encountered this issue:

[code]

I wanted to remove all spaces from a beginning and ending of a text "s". While first one is working as I assumed, the second one do nothing. I wanted to politely inquire you is it a bug, or is it a feature?

[2014-12-03 13:22] hadley opened #126 "Split incompatibility (stringr/stringi)"
I've realised there's a rather important difference between stringr's `n` and stringi's `n_max`:

[code]

I noticed this because it breaks httr which relies on `str_split_fixed` always returning exactly the same number of pieces.

[2014-12-04 12:39] #125 closed, assigned to nobody

[2014-12-04 17:41] gagolews opened #127 "Generalize stri_*_all, stri_*_first, stri_*_last"
Create new (general) functions like `stri_replace`, `stri_locate`, `stri_extract` (but also: `stri_split` -- why there's only `n_max` now?) with `start` and `end` args. -- then `all`, `first`, `last` could just call the general one.

This is for tasks like e.g. extract the 2nd, 3rd, 4th match, extract last 3 matches etc.

[2014-12-04 21:08] #122 closed, assigned to nobody

[2014-12-04 23:15] #126 closed, assigned to gagolews

[2014-12-05 22:24] #120 closed, assigned to gagolews

[2014-12-05 23:07] gagolews opened #128 "stri_wrap /dynamic/ should ignore the cost of printing the last line"
[code]

vs

[code]

[2014-12-06 00:11] #118 closed, assigned to nobody

[2014-12-06 00:25] #128 closed, assigned to gagolews

[2014-12-06 12:47] hadley opened #129 "str_match incompatibility"
https://github.com/renozao/NMF/issues/24#issuecomment-65894197

`stri_match` returns NA for optional groups that didn't match, where `str_match` should return `""`. Could we please have an `omit_na` option for stringr?

[code]

[2014-12-06 12:49] hadley opened #130 "Compilation warnings"
I get:

[code]

obviously not very important

[2014-12-06 18:45] gjwgit opened #131 "Support for perl's "\L" etc in replacement patterns"
The R stringr package is migrating to using stringi. Through stringr I've relied on the perl regexp engine's support of things like \l in replacement strings to process the replacement (e.g. "\1\L\2" will lowercase the second matched group in the replacement string). Is such functionality available in stringi/ICU? (Wanting to check before I start rewriting code that depends on stringr's deprecated

[2014-12-06 19:02] #131 closed, assigned to nobody

[2014-12-06 19:17] #130 closed, assigned to nobody

[2014-12-06 20:39] #129 closed, assigned to gagolews

[2014-12-06 23:25] #111 closed, assigned to gagolews

[2014-12-07 21:07] #110 closed, assigned to gagolews

[2014-12-08 15:26] #23 closed, assigned to nobody

[2014-12-10 22:09] #94 closed, assigned to gagolews

[2014-12-11 16:05] gagolews opened #132 "stri_locate_regex - match of zero length"
This happens in `!NDEBUG` mode:

[code]

stringr has:

[code]

[code]

[2014-12-14 16:18] gagolews opened #133 "stri_wrap: allow width == 0"
width==0 should give the same results as width == 1, see https://github.com/klutometis/roxygen/issues/316

[2014-12-14 20:20] gagolews opened #134 "stri_extract_all_words doesn't accept simplify=NA"
[code]

[2014-12-16 13:57] gagolews opened #135 "Warning: 'long long' is a C++11 extension [-Wc++11-long-long]"
[code]

[2014-12-19 20:13] #134 closed, assigned to gagolews

[2014-12-19 21:33] #133 closed, assigned to gagolews

[2014-12-19 22:07] gagolews opened #136 "Add `invert` arg to `stri_locate_*`"
[code]

cf. https://github.com/hadley/stringr/issues/50

[2014-12-20 23:36] #132 closed, assigned to gagolews

[2014-12-21 10:02] gagolews opened #137 "Date/Time formatting/parsing"
http://userguide.icu-project.org/formatparse/datetime

http://userguide.icu-project.org/datetime

http://site.icu-project.org/design/formatting/timezone/icu-4-8-time-zone-names

http://www.icu-project.org/apiref/icu4c/classicu_1_1DateFormat.html

[2014-12-21 10:13] #115 closed, assigned to gagolews

[2015-01-04 06:58] richierocks opened #138 "memory allocation error if strings too long"
Here's a large text file with 10 million lines, each containing 100 characters.

[code]

If I try to read it (tested on a modern desktop PC with 16GB RAM under Windows 7), R crashes with the error:

[code]

For comparison, I can read the file using base-R's `readLines` and `data.table`'s `fread`.

[code]

[2015-01-04 09:25] gagolews commented on #138
How large is this file, in bytes?

[2015-01-04 19:09] richierocks commented on #138
Previous comment was a little short on lines; I've updated it to read 10 million (1e7 lines * 100 chars ~= 1GB).  You may need to vary the file size a bit to reproduce the error, but `stri_read_lines` definitely fails before `readLines` on the (Windows) machines that I've tried.

`stri_read_raw` works fine on the file; the crash happens in `stri_encode`.

[2015-01-05 12:57] gagolews commented on #138
OK, thanks for the notice. That's why `stri_read_lines` is marked as Draft API. I will rewrite the function in pure C++ some day (now it calls too much R code). I can't promise I'll do that soon, as my main priority for stringi_0.5-1 is to add date/time parse/format features. Thanks also for pointing out data.table's `fread` == I'll try to make this function even faster than that :)

[2015-01-05 22:57] gagolews opened #139 "stri_wrap: control break iterator"
break iterator used currently in `stri_wrap` is perfect for NLP but does not work OK for machine text, e.g. "test-script.R"

[code]

[2015-01-08 22:41] gagolews commented on #139
++ allow specifying a charclass that gives breaks????

[2015-01-08 22:42] gagolews commented on #137
http://icu-project.org/apiref/icu4c/classicu_1_1DateTimePatternGenerator.html ???

stri_datetime_pattern_convert ---  strptime patterns 2 ICU patterns

[2015-01-20 10:37] nachti opened #140 "./configure icudt check - more strict tests needed"
Hi Marek!

I cloned `strigi` from github and tried to build (ok) and check it.
Using the command line `R CMD check` fails with this output:
[code]
Loading the installed version `stri_install_check()` gives no error:
[code]
Gerhard

[2015-01-21 14:50] Mullefa opened #141 "add local mirror for installing icudt"
Relates to [this](http://stackoverflow.com/questions/27553452/how-to-install-stringi-library-from-archive-and-install-the-local-icu52l-zip) issue on SO.

`stri_install_icudt()` can not use local mirrors to install icudt.

[Here](https://gist.github.com/zero323/338c8fb0faf46e5ac06d) is one patch by zero323.

A bit of context: this is a problem for me, as I am using a package I have created - [vepr]

[2015-01-21 16:04] gagolews commented on #141
@Mullefa, I can't add `/tmp` to the search path, as not everybody is on a unix-like operating system.
Have you read the `download.file` man page, `Proxy` subsection?

The `http_proxy` environmental variable may be set accordingly (via `Sys.setenv`).

HTH

[2015-01-22 10:14] Mullefa commented on #141
Would you consider making the local mirror dependent on the operating system?

[2015-01-22 10:29] gagolews commented on #141
Fixing the `/tmp` dir for everybody does not seem as a good idea.

Will you be happy with a new `./configure` script argument that indicates where a local copy of icudt can be found (`/tmp` in particular)? Then, the path could be provided via the `configure.args` arg to the `install.packages` function?

[2015-01-27 14:25] gagolews commented on #30
@hadley's suggestion/question:

[code]

[2015-01-27 14:26] gagolews commented on #30
`vectorize_all` arg to stri_sub???

[2015-02-13 15:33] gagolews opened #142 "stri_replace_fixed speedup if pattern_len == replacement_len"
If we know that a pattern's length is the same as the replacement string's length (in bytes, case_sensitive only), then a replacement OP can be performed much faster.

1. memcpy all
2. re-write all matches

[2015-02-13 15:51] gagolews opened #143 "ByteSearchMatcher class"
Add a `ByteSearchMatcher` class (just like `RegexMatcher`, `UStringSearch`)

`virtual` methods for different search scenarios (patterns of length 1,2,3,4,5+ etc.)

this will clean up `StriContainerByteSearch` code

[2015-02-13 16:11] gagolews opened #144 "stri_sub: make it faster for ASCII string"
string[i] == byte[i] in such a case

Update `String8` and `StriContainerUTF8_indexable` -- this will also make some other functions faster.

[2015-02-14 10:57] gagolews commented on #144
[code]

Original:

[code]

[2015-02-14 11:50] gagolews commented on #144
After:

[code]

[2015-02-14 11:52] #144 closed

[2015-02-14 11:53] gagolews commented on #144
And now for the same `n`:

[code]

[2015-02-14 12:32] gagolews commented on #142
[code]

BEFORE:

[code]

[2015-02-14 23:45] gagolews commented on #142
This is what happened after switching to `strchr`:

[code]

[2015-02-15 00:26] #143 closed

[2015-02-15 19:41] gagolews commented on #141
A solution:

`install.packages("stringi", configure.vars=list(ICUDT_DIR="<dir_to_copy_icudt_from>"))`

[2015-02-15 20:01] #141 closed

[2015-02-15 20:23] gagolews commented on #140
@nachti I pushed a patch. Does it work now?

[2015-02-16 08:59] nachti commented on #140
Hi Marek!

Thanks for your work. Unfortunately it's still not working. Here the relevant output from `R CMD build stringi_0.5-1.tar.gz`:

[code]

Gerhard

[2015-02-16 09:24] gagolews commented on #140
@nachti

Could you please send me the whole output generated while building the package (./configure, compilation, etc.)?

[2015-02-16 10:57] nachti commented on #140
The build is unsuspicious. Just the check fails.

[code]

[2015-02-16 11:25] gagolews commented on #140
I meant the output of `R CMD INSTALL`... :)

[2015-02-16 13:08] nachti commented on #140
[code]

[2015-02-23 21:43] gagolews opened #145 "stri_table() and stri_rle()"
Like table and rle, but
- may use collator
- has simplify option => false => return a list with 2 elements

Use string cache: pass stri_enc_toutf8 arg (the same for stri_unique and duplicated?)

[2015-02-24 21:13] gagolews commented on #135
[code]

[2015-02-24 21:27] gagolews opened #146 "stri_enc_detect2 warnings"
[code]

[2015-02-24 22:39] gagolews commented on #146
this is an icu issue

[code]

[2015-02-24 22:49] #146 closed

[2015-02-25 08:31] kohske opened #147 "[ICU BUG] Incorrect behavior of look-behind assertion with stri_match/stri_extract/stri_split_regex"
[code]

It fails when look-behind includes >=2 characters and the last character in the look-behind is non-ascii.

[code]

[2015-02-25 10:19] gagolews commented on #147
@kohske
seems like a bug in the ICU library. I will check if everything's ok with icu 55milestone1. If not, I'll file a bug report.

[2015-02-25 10:24] gagolews commented on #147
hmm... but stri_detect & str_count work OK (they base on regex UTF16 interface)

[2015-02-25 10:43] kohske commented on #147
Although I have not inspected deeply, this may not be a bug in ICU,
At least I confirmed that the result of ICU's `RegexMatche::find()` is correct in all the cases above.

[2015-02-25 10:44] gagolews commented on #147
But in this case I use the `UText` interface

[2015-02-25 10:55] gagolews commented on #147
Minimal reproducible example:

[code]

[2015-02-25 11:02] gagolews commented on #147
The same if we use `UText` for `RegexMatcher`

[code]

---> `no match`

[2015-02-25 11:02] kohske commented on #147
Thanks, as you image I did test with the plain char.
I also reproduced the example above.
Obviously this is a bug in ICU.

[2015-02-25 11:02] gagolews commented on #147
@kohske which `ICU` version do you use?

[2015-02-25 11:08] kohske commented on #147
perhaps 54.1. I installed it via homebrew.

[2015-02-25 11:10] gagolews commented on #147
[code]

[2015-02-25 11:11] kohske commented on #147
yes exactly `U_ICU_VERSION=54.1`

[2015-02-25 11:13] gagolews commented on #147
you're fast :)

Ok, just compiler ICU 54.1 -> confirmed

[code]

filing a bug repo

[2015-02-25 11:15] kohske commented on #147
Thanks!!
Anyway, thanks for the great package.

[2015-02-25 11:21] gagolews commented on #147
http://bugs.icu-project.org/trac/ticket/11554

[2015-02-25 13:27] hadley opened #148 "stri_escape_latin1"
For testing purposes it would be really useful to have `stri_escape_latin1` which would generate the escape sequences to generate a latin1 string in R.

[2015-02-27 09:43] gagolews commented on #147
OK, ICU guys confirmed it's a bug.

UTF-16 interface also doesn't work for 2-byte UTF-16

[code]

[2015-02-27 23:38] #139 closed

[2015-02-27 23:39] gagolews commented on #139
[code]

[2015-03-11 20:51] #135 closed

[2015-04-02 19:22] gagolews commented on #69
still left to do

[ ] add icu55b.zip + upload to mirror servs
[ ] test solaris
[ ] test clang
[ ] test win-builder
[ ] test os x

[2015-04-03 18:41] #69 closed

[2015-04-04 16:22] #140 closed

[2015-04-04 16:50] gagolews commented on #46
[code]

[2015-04-06 18:25] #46 closed

[2015-04-06 21:08] yutannihilation opened #149 "stri_pad and stri_wrap should allow also relying on code point widths"
Thanks for this great package!

I've faced a problem with `knitr::kable()` which uses `stringr::str_pad()` inside (https://github.com/yihui/knitr/issues/980). East Asian people use so-called "full-width" characters, which is twice as wide as other characters like Alphabets.

`nchar()` considers East Asian Width when `type = 'width'` is specified. For example,

[code]

This C function is used in `n

[2015-04-07 07:48] gagolews commented on #149
@yutannihilation Sure, good idea.

[2015-04-07 07:49] gagolews commented on #149
BTW, This is related to #8

[2015-04-07 08:02] gagolews commented on #149
NOTES:

http://www.cl.cam.ac.uk/~mgk25/ucs/wcwidth.c
http://www.unicode.org/reports/tr11/

[code]
???

[2015-04-07 22:44] yutannihilation commented on #149
@gagolews Thanks for your quick reply! `str_width()` also sounds nice :+1:

[2015-04-08 13:48] yutannihilation commented on #149
I tried to create a pull request, but I'm not good at writing C++ :disappointed:

Am I on the right track?

[2015-04-10 07:25] gagolews commented on #149
Thanks, I'll focus on that in due time (a busy period..)

[2015-04-13 22:29] Ironholds opened #151 "Expose C/C++ API"
Stringi contains a ton of awesome C++ string-handling functions! Me likey.

It would be great if it exposed these functions in a way that was linkable-to, a la RcppArmadillo or BH.

As an example: coming from R, doing string extraction in C++ has always been a pain, because you find the first example of [character] and then the second example of [character], and then you substring between first_ex

[2015-04-14 08:02] gagolews commented on #151
related to #88

[2015-04-14 15:06] hadley opened #152 "Conditionally support C++11"
By using `PKG_CXXFLAGS=$(CXX1XSTD)` in Makevars. This enables C++11 support (and hence C99 support) where available - that will suppress (e.g. ) warnings about `long long`s on the CRAN linux test machine, while still allowing use on (e.g.) Snow Leopard (which doesn't have C++11 support)

[2015-04-14 18:16] gagolews commented on #152
@hadley I got the `long long` warning issue closed already in #135

indeed, C++11 is used conditionally (if R >= 3.1 and some ./configure flag is not set)

closing.

[2015-04-14 18:16] #152 closed

[2015-04-15 12:48] hadley commented on #129
This is a blocker for stringr 1.0.0. Are you planning on releasing a new version of stringi soon?

[2015-04-15 12:52] hadley commented on #129
Oh no, I need to use the new argument. Oops!

[2015-04-15 12:57] gagolews commented on #129
The only new thing in upcoming stringi 0.5 that slightly affects stringr is #133, #139 (text wrap)
Release time of stringi_0.5 == I wish soon, but I'm stuck with other duties right now :/

[2015-04-22 19:14] #8 closed

[2015-04-22 19:20] gagolews commented on #149
NOTE: This is also the case of the `stri_wrap` function

[2015-04-22 19:29] gagolews commented on #149
NOTE: This is also the case of the stri_wrap function
strwrap uses WIDTH only, so stri_wrap should base on width by default.
Even if the current version of str_pad uses length, I guess default behavior of stri_pad should also base on width

[2015-04-23 17:27] gagolews commented on #73
related to #149 and #8: substring width should be taken into account

[2015-04-23 18:14] #149 closed

[2015-04-23 18:15] gagolews commented on #149
@yutannihilation All done. Can you please check if that's what you requested? Thanks.

[2015-04-24 13:12] yutannihilation commented on #149
@gagolews Amazing! I've confirmed that `stri_pad()` handles East Asian characters perfectly.

[code]

Thanks again!

[2015-04-24 18:03] gagolews opened #153 "Named capture groups support"
Since ICU 55.1, see [Ticket 5312](https://unicode-org.atlassian.net/browse/ICU-5312), we have an experimental support for named capture groups in regexes.

As of ICU 55.1 this is still marked as DRAFT API, hence we may not rely on it yet.

Waiting for becoming STABLE then. In such circumstances:
- [ ]  `stri_match` should be updated (PROBLEM: in ICU 55.1 there is no way to get all names of NCG,

[2015-05-01 17:41] szilard opened #154 "stri_c unexpected behavior with Dates"
stri_c("x",Sys.Date())
[1] "x16556"

[2015-05-01 18:41] gagolews commented on #154
It turns out that `paste`, `grep`, etc. just calls `as.character` for *complex* (objects equipped with `class` attr) objects.

NEW behavior in an upcoming commit:

[code]

[2015-05-01 18:43] gagolews commented on #154
The same now here:

[code]

[2015-05-01 20:47] szilard commented on #154
Fantastic, thanks for quick fix :)

[2015-05-04 13:49] hadley commented on #154
BTW a slightly better test is probably to call `is.character()` if `is.object()` is true. That'll also catch S4 classes

[2015-05-04 13:50] gagolews commented on #154
good idea, thanks,

[2015-05-07 08:33] #154 closed

[2015-05-08 03:57] wibeasley opened #155 "`U_FILE_ACCESS_ERROR` on Travis-CI builds"
This morning my builds on [Travis](https://travis-ci.org/OuhscBbmc/REDCapR/builds) starting breaking with the error (but not on [AppVeyor](https://ci.appveyor.com/project/wibeasley/redcapr/history), win-builder, or my local Ubuntu 14.04 and Windows 8 machines).  I think this is related to [this point](https://github.com/Rexamine/stringi/blob/023829f50bb7878a2799ac0fc1fee304f864a1c9/src/stri_except

[2015-05-08 09:14] gagolews commented on #155
Perhaps ICUdata download failed. I cannot diagnose the error without having access to full stringi build logs. What about relying on a stringi version from github?

[2015-05-08 12:46] wibeasley commented on #155
You're right, @gagolews, and I'm pleasantly surprised.  I didn't think the stringi code was directly involved, since it hadn't changed on CRAN [in 6 months](http://cran.r-project.org/src/contrib/Archive/stringi/).

* I added it, and Travis [passed](https://travis-ci.org/OuhscBbmc/REDCapR/builds/61753136)
* I then removed it, and Travis [failed](https://travis-ci.org/OuhscBbmc/REDCapR/builds/617565

[2015-05-08 12:46] #155 closed

[2015-05-08 13:09] hadley commented on #155
This seems to be an intermittent build failure on travis. I'm getting increasingly disenfranchised by them :(

[2015-05-08 15:19] wibeasley commented on #155
I didn't realize that option was available for the disenfranchised.

Until the proletarian revolution, I thought installing stringi from GitHub was a suitable alternative for the tests to pass so development can continue.

[2015-05-17 16:28] gagolews opened #157 "Check PDF manual for overfull hboxes"
As noted by Kurt Hornik:

the \tabular environments you use the right columns in the pdf are cut
off: this is because \tabular gets mapped to longtable which does not
wrap.  Look at e.g. the stringi-search-charclass results.
Perhaps you could use \describe for such "tables"?

[2015-06-06 12:18] jeroenooms opened #160 "Solaris: pkg-config ICU detection failed"
Can't get this to install on Solaris. Should I pass some vars to configure or make? This seems correct:
[code]
However installing gives: http://pastebin.com/raw.php?i=EmRdVhV0

[2015-06-06 12:44] gagolews commented on #160
What about:

[code]

?

[2015-06-06 12:56] jeroenooms commented on #160
Ok i'll try that. But why is it compiling ICU if it is already present on the system?

[2015-06-06 17:55] gagolews commented on #160
Your C++ compiler is:

[code]

Here's how the verification of the most basic ICU-based project ended:
[code]

Are you sure ICU4C was build using Sun's CC and not, e.g., gcc? If you are
using openCSW this may be the case. A solution for that is to compile R
from sources using gcc

Here's the source code of a very simple ICU-based app that failed to be
build using compiler flags as generated by `pkg

[2015-06-10 13:45] Struya opened #161 "stri_pad_left incorect number of arguments"
I wanted to use `stringi` package to manipulate some strings. I played around with examples from documentation and found out they did not work for me.

#### Issue:

    library(stringi)

    stri_pad_left("stringi", 10, pad="#")

    Error in .Call(C_stri_pad, str, width, 0L, pad, use_length) :
      Incorrect number of arguments (5), expecting 4 for 'C_stri_pad'

    sessionInfo()

    R version

[2015-06-10 14:27] gagolews commented on #161
Sorry, not reproducible - the latest GH brank works OK:

[code]

[2015-06-10 14:27] #161 closed

[2015-06-11 09:39] jeroenooms opened #162 "Don't bundle ICU, always require system version"
After upgrading the opencpu stack to the latest devtools and stringr which uses stringi, we're starting to see weird server problems, including the common error: `The requested ICU resource file cannot be found. Possible problem: ICU data has not been downloaded yet.` The same problem appears on Travis CI.

The problem is that `stringi` does not find ubuntu `libicu-dev` and instead builds another

[2015-06-11 10:38] jeroenooms commented on #162
I have put a copy of stringi which uses this approach here: https://github.com/jeroenooms/stringi so you can test it and verify that it works. I did not change any of your code. I just took the icu package mentioned above and copied over the R and C++ code form stringi, and also the `DESCRIPTION` and `NAMESPACE` files.

[2015-06-11 12:26] hadley commented on #162
:+1:

[2015-06-11 15:19] gagolews commented on #162
It's a good idea. But after struggling with the first CRAN submission of stringi (it took me 1 year to succeed), I am quite unsure if I want to challenge myself with that scary experience once again. :)

If you are able to help and make sure that icu + new stringi can be build on Ubuntu, OS X, Fedora, Solaris/GCC, Solaris/CC, Solaris/Spark (Big endian!), Windows, all of them with icu4c-dev bundles

[2015-06-11 15:43] jeroenooms commented on #162
I think it only took so long because you're shipping all of ICU. The nice thing about using a system library is that you don't have to worry about platform specific build problems of `libicu` because it is already there. You can just focus on the R interface which is usually much easier. For the same reason we don't bundle `libcurl`, `libxml2`, `openssl`, etc.

I will happily provide guidance and

[2015-06-11 15:53] gagolews commented on #162
Cool, we have a starting point. Anyway, the `./configure` script asks for `pkg-config` appropriate flags, but it seems that these flags are "not good enough". If you have access to a system where using `libicu-dev` fails with `stringi`, could you please provide me with `config.log` and `config.status` file that are generated during the package build?

[2015-06-11 15:58] jeroenooms commented on #162
Is there any c/c++ code that depends on the endianness? For the curl package I used this macro:

[code]

Which exposes `_BIG_ENDIAN` and a ton of other stuff, so you can do like:

[code]

[2015-06-11 16:07] gagolews commented on #162
The whole `icudt` (ICU data library) depends on the endianness, unfortunately. Spark users use a different 20MB data file than intel-based guys..

[2015-06-11 16:12] jeroenooms commented on #162
But that shouldn't be a concern if we're taking advantage of a preinstalled version of ICU that comes with the OS (which already includes `icudt`) and we're interacting only with the APIs? Or am I missing something?

[2015-06-11 16:14] gagolews commented on #162
OK, a preinstalled version should have icudt in the correct format.

As I'm a "bad cop" here, note also:

And by the way, *.... For the same reason we don't bundle libcurl, libxml2, openssl, etc. ...* - if you take a look at the source bundle of R itself, you'll see that it is shipped with, e.g., the pcre library. It's compiled with R (under some circumstances) -- I was inspired by this.

And BTW2

[2015-06-11 16:18] jeroenooms commented on #162
Yes that's the only caveat of using a system libraries; if you want it to build on older systems you can't use the very latest stuff. But ICU is so old, do you really need features that were introduced in the last version?

[2015-06-11 16:19] jeroenooms commented on #162
By the way here is a server log: http://pastebin.com/h4KWX7J0

[2015-06-11 16:25] jeroenooms commented on #162
And sure there is a case for bundling particular small libraries that might not be available on all systems, but if you look at `libR.so` on ubuntu, the import stuff is dynamically linked to the system:

[code]

[2015-06-11 16:32] gagolews commented on #162
*But ICU is so old, do you really need features that were introduced in the last version?* -- unfortunately, I do (e.g., named capture groups support, latest tz data, latest locale data, etc.). Maybe this is not 100% must-have, but I don't want to make stringi behave differently on different machines (suffices to say, R does that already, we wanna be better than that).

As for the `configure`'s ou

[2015-06-11 17:09] jeroenooms commented on #162
Sure let me dig those up. If you require ICU 55 it might be a version problem because ubuntu LTS ships with [icu-dev 52](http://packages.ubuntu.com/trusty/libicu-dev).

[2015-06-11 17:18] jeroenooms commented on #162
Log files:
 - [install log](http://pastebin.com/h4KWX7J00)
 - [config.log](http://pastebin.com/pPSXUw2P)
 - [config.status](http://pastebin.com/ABrsRi9b).

[2015-06-11 17:26] gagolews commented on #162
This is the key part:

[code]

COuld you be able to determine in which way the compiler flags:

[code]
should be changed so that `conftest.cpp` (source code above) can be compiled?

[2015-06-11 17:29] jeroenooms commented on #162
What if you just use `g++ -c conftest.cpp`? That should be a sufficient test?

[2015-06-11 17:43] gagolews commented on #162
A proper set of c++ flags to compile an [ICU-based project](http://pastebin.com/jQfaE8jq)?

The `-c` flag is not necessary, we build&link a whole app here.

In my case (Fedora 21)  the following settings work:

[code]

so I get

[code]

My ICU header files are in:

[code]

[2015-06-11 17:53] gagolews commented on #162
Hmmm.. now as I look at the error logs it seems that the issue might be connected with icu namespace renaming. I will install Ubuntu on a VM and try to reproduce this error in due time. If I'm right, I think I know how to handle this problem. :)

[2015-06-11 17:56] jeroenooms commented on #162
This seems to work and compile the binary:

[code]

I think the cpp file needs to come before the linker flags. At least on ubuntu.

[2015-06-12 19:05] frenchwr opened #163 "Intel Build"
Hello all, I am attempting to build stringi with Intel compilers. We are using R 3.2.0 built with Intel compilers. configure does not make it very far:

[code]

The final error suggests that Intel's C++ compiler (icpc) does not support long long types, but this is not true (see: https://software.intel.com/en-us/articles/c0x-features-supported-by-intel-c-compiler). I also confirmed that icpc can co

[2015-06-13 07:54] gagolews commented on #163
Cool, I've always wanted to test if stringi builds with icc.

Let's give icc a first try: could you compile stringi with
[code]
?

[2015-06-13 09:39] gagolews opened #164 "libicu-dev use fail on Ubuntu"
[code]

[2015-06-13 09:39] gagolews commented on #164
This is related to #162

[2015-06-13 09:53] gagolews opened #165 "Allow forcing the use of system icu"
A new `./configure` option `--disable-icu-bundle` force the use of system ICU on package build.
This is related to #162 and https://github.com/hadley/stringr/issues/68

[2015-06-13 09:56] jeroenooms commented on #165
This should be the default.

[2015-06-13 09:57] jeroenooms commented on #162
@gagolews I have pushed a small fix for my configure script for fedora and centos. Try it, see how well it works :-)

[code]

[2015-06-13 10:03] gagolews commented on #165
But what about Windows and OS X users?

Such an option can also be passed while a call to `install.packages` or `R CMD INSTALL`...

[2015-06-13 10:07] jeroenooms commented on #165
On OSX you can link to `libicucore.dynlib`. On windows you are not running `./configure` anyway right?

[2015-06-13 10:08] gagolews commented on #165
the cran OS X machines haven't got a sufficiently new version of icu installed :(

[2015-06-13 10:10] jeroenooms commented on #165
How do you know? It seems fine on my local osx?

[2015-06-13 10:10] gagolews commented on #165
quoting http://www.r-project.org/nosvn/R.check/r-devel-osx-x86_64-clang/stringi-00install.html:

[code]

[2015-06-13 10:11] jeroenooms commented on #165
OSX does include libicu, it just does not include the headers. So if you just bundle the `include/unicode` headers that's all you need.

[2015-06-13 10:17] jeroenooms opened #166 "Compile error for stri_time_zone.cpp on libicu 50.1.2"
The `stri_time_zone.cpp` is the only file that fails to compile on CentOS 7 (libicu 50.1.2). Everything else compiles out of the box. It would be really cool if this can be fixed so that stringi can link against system libicu on CentOS 7.

[code]

[2015-06-13 10:27] gagolews commented on #166
Yes, it fails, because this fun is from ICU>=52. Current devel branch of string **requires** icu >= 52

I'll look at this later and think about downgrading the requirements

[2015-06-13 10:29] jeroenooms commented on #166
50 is fine, that is pretty mainstream. I think `getWindowsID` is the only call that requires 0.52?

[2015-06-13 10:47] gagolews commented on #165
not really, these header files are incompatible between different icu versions

[2015-06-13 10:56] jeroenooms commented on #165
Mmm okay that might be a problem.

[2015-06-13 11:16] jeroenooms commented on #165
At least on Linux, I think the default should be this. When the configure script cannot find headers, it could exit with an error message like:

.

[2015-06-13 11:39] gagolews commented on #164
Works like a charm now. `LIBS` shall be passed after `LDFLAGS` and the list of `.o` files.

[2015-06-13 11:39] #164 closed

[2015-06-13 11:40] gagolews commented on #162
In the meantime, I fixed #164 - libicu-dev should now be detected correctly on Ubuntu.

[2015-06-13 11:43] gagolews commented on #165
The default is to use pkg-config and if it fails, try using the icu bundle. Look at this way: this adds one more "degree of freedom" :)

[2015-06-13 11:43] jeroenooms commented on #165
So that means we keep having the stringr/travis bug for people who forget to install `libicu-dev`?

[2015-06-13 11:48] gagolews commented on #165
I'll work on that.

BTW, how to install libicu-dev on travis?

[2015-06-13 11:49] jeroenooms commented on #165
You add it under `apt_packages`, see eg: https://github.com/jeroenooms/curl/blob/master/.travis.yml

[2015-06-13 11:53] jeroenooms commented on #165
Unless you are super sure you fix the `U_FILE_ACCESS_ERROR` problem, it should not fall back on bundled version. Under no circumstance should stringi install a non working version of ICU on the system.

[2015-06-13 12:09] gagolews commented on #165
Jeroen, If I were to choose between "forgetful users" who didn't install libicu-dev on travis machines and Brian Ripley, I'd choose the latter. And so I do.

The package does not install anything on the system. It just builds icu from sources and links icu statically with `stringi.so`. The problem is related with `icudt` (funny thing: it fails only from time to time). and I'll work on that. Yet, w

[2015-06-13 12:09] #165 closed

[2015-06-13 12:16] jeroenooms commented on #165
OK i'm sorry don't want to be rude, but want to make sure this gets solved properly because it is taking down my entire stack.

[2015-06-13 12:17] gagolews commented on #165
OK, I understand. Again, does installing libicu-dev everythere help now?

[2015-06-13 12:19] jeroenooms commented on #165
Part of the problem might be that R packages on Ubuntu do not have a fixed location. So they might get built in one dir and then moved over to another. Are you hardcoding the path to `icudt` at build time?

[2015-06-13 12:22] jeroenooms commented on #165
I checked that autoconf now picks up on `libicu-dev` at least on Ubuntu. Don't know about other systems.

[2015-06-13 13:12] gagolews commented on #165
Jolly good!

No, I'm not hardcoding the path. But thanks for your remark - you gave me some hint. I now force the load of icudt on stringi dynlib load. I'm pretty sure this solves all the travis problems. Could you test my hypothesis? Thanks!

[2015-06-13 13:55] gagolews commented on #165
I checked stringr with `.travis.yml` settings like:

[code]

Works like a charm now.

[2015-06-14 07:31] gagolews commented on #160
If it is not the issue of the compilers' bin outs incompatibilies (g++ icu, R package build with CC or inversely), It will also be worth to check if a fix to #164 solves this problem.

[2015-06-14 07:59] #157 closed

[2015-06-14 09:28] gagolews commented on #88
A sketch:
use:

[code]

add `inst/include/stringi.h`

[code]

test file:
[code]

[2015-06-14 09:30] gagolews commented on #151
Oliver, that's a very good idea. I now more or less know how to do it. This feature is scheduled for stringi_0.6. I'm closing this issue as a duplicate of #88.

[2015-06-14 09:30] #151 closed

[2015-06-14 20:45] markdanese opened #167 "vectorization in stri_sub"
Right now the help file says that it is "Vectorized over str, [value], from and (to or length)."  But in reality it seems that it is only vectorized over **one** of these.  And it seems that the default it to vectorize over str if both are present.  Perhaps the documentation could be made a bit more clear?

background and comments:
I was trying to process a bunch of lines from a fixed width text f

[2015-06-15 03:50] frenchwr commented on #163
It turns out my R build was broken. I re-built everything from scratch (R version 3.2.0) with Intel compilers and then stringi compiled and compiled without a problem.

[2015-06-15 03:50] #163 closed

[2015-06-15 07:31] gagolews commented on #163
Thanks for the report. Anyway, it seems that I need to start monitoring stringi builds with icc, too...

[2015-06-15 07:35] gagolews commented on #167
Thanks for the report on `stri_read_lines`. :)
Is this feature request related to #30?
If not, then I might be missing something: in such a case, could you prepare an example (input, proposed functions' call scheme, desired output) so that I get a better insight to your suggestion? Thanks

[2015-06-15 16:45] markdanese commented on #167
Maybe it is.  I couldn't decipher all that was going on when I saw that, but I am still pretty new to string manipulation.  Below is my example, but feel free to close this if it is the same.

[code]

`stri_sub(x, split)`
gives:
`[1] "ab" "kl" "ef" "op"`

but I was hoping for this:
[code]

or even better, this:
[code]

The last piece is accomplished by `do.call(rbind, lapply(x, stri_sub, split))`

[2015-06-16 11:12] gagolews commented on #167
Yep, it's a duplicate of #30. Scheduled for stringi_0.6

[2015-06-16 11:12] #167 closed

[2015-06-16 11:13] gagolews commented on #30
@markdanese's example:
[code]

`stri_sub(x, split)`
gives:
`[1] "ab" "kl" "ef" "op"`

but I was hoping for this:
[code]

or even better, this:
[code]

The last piece is accomplished by `do.call(rbind, lapply(x, stri_sub, split))` but I was hoping it might be faster if it were all done in c++.

[2015-06-16 15:50] rubenarslan commented on #162
I can confirm that installing the new Rexamine/stringi version from Github fixed ICU problems I had on my openCPU Ubuntu machine.

[2015-06-16 15:52] gagolews commented on #162
:+1:

[2015-06-18 20:55] jeroenooms commented on #164
Could you bump your version number to indicate the fixed problem? That makes it easier to enforce the dependency on the working version.

[2015-06-19 08:35] gagolews commented on #164
Here you are.

[2015-06-19 08:36] #162 closed

[2015-06-19 08:41] gagolews commented on #140
This is now fixed, see also #164, #165. @nachti, could you confirm?

[2015-06-19 10:14] nachti commented on #140
Yes I can confirm it. Thanks Marek!
Below you can find the output.

Build:
[code]

Check:
[code]

Install:
[code]

Within R:

[code]

[2015-06-19 10:20] gagolews commented on #140
Thanks!

[2015-06-21 09:52] #137 closed

[2015-06-21 10:33] jeroenooms commented on #166
Any chance you can look into this? It would be really cool if we can take advantage of system ICU on redhat/centos 7 deployments. Centos 6 has libicu icu-4.2.1 so that is probably out of the question, but it shouldn't be hard to get it to work on Centos 7.

[2015-06-21 11:27] gagolews commented on #166
OK, I'll build ICU 50 and see what I can do with that.

[code]

[2015-06-21 11:43] jeroenooms commented on #166
Thanks! Appreciate it. I'll give a try on a vm once you're done, see if it works.

[2015-06-21 14:26] #166 closed

[2015-06-21 14:26] gagolews commented on #166
@jeroenooms OK, now icu4c>=50 is required, please confirm if all OK

[2015-06-21 14:31] jeroenooms commented on #166
Yay I think it works. Thanks this is a big improvement.

[2015-06-21 14:35] gagolews commented on #160
@jeroenooms Needs update: Is this still an issue ?

[2015-06-21 14:39] jeroenooms commented on #160
I never got this package to work on solaris. Maybe @gaborcsardi can help out with giving you an account on his solaris test box?

[2015-06-21 14:45] gagolews commented on #160
OK, I can look at this in more detail.
I'm frequently testing stringi on 2 Solaris machines (including one with Spark CPUs), btw.

[2015-06-21 14:51] jeroenooms opened #168 "Build should fail when download of icudt fails"
One reason why people have been getting [`The requested ICU resource file cannot be found`](https://github.com/hadley/stringr/issues/68) is because they are using the `r-cran-stringi` package. This package does not work because launchpad builds all packages offline, and therefore downloading `icudt` fails. From the [build log](https://launchpad.net/~marutter/+archive/ubuntu/c2d4u/+build/6646111):

[2015-06-21 14:56] gagolews commented on #168
Good idea, thanks!

[2015-06-21 14:59] jeroenooms commented on #168
You can easily catch such errors by adding something trivial to `onLoad` that actually uses the package. Thereby you confirm that the package is actually working when it does `** testing if installed package can be loaded`

[2015-06-21 15:21] #168 closed

[2015-06-21 15:22] gagolews commented on #168
@jeroenooms fixed now

[2015-06-21 15:54] jeroenooms commented on #168
Okay thanks. As you know I really think it is a bad idea to install half-functioning packages but I guess we are not going to agree on that:

[code]

[2015-06-21 15:57] gagolews commented on #168
That's just a very old comment, install now fails if icudt is unavailable.

[2015-06-21 15:59] jeroenooms commented on #168
Oh okay sorry, from the commit it looks like this comment was added.

Could you consider my other suggestion of adding something in `onLoad` or `onAttach` that uses `icudt` so that we are super duper sure that everything absolutely works when the package is installed?

[2015-06-21 16:02] gagolews commented on #168
a side effect of changes made in c651d31affcebd4402e93b21eeb5b0fcfd776ff6 (forced `u_init` call) is that this is also checked on stringi dynlib load

[2015-06-21 16:06] jeroenooms commented on #168
Alright I usually prefer an explicit little test, but I'll take your word on this then :)

[2015-06-21 16:10] jeroenooms commented on #168
Going to try to build the new opencpu stack on different platforms, fingers crossed...

[2015-06-23 01:09] pschmied opened #169 "Build fails on OpenBSD [Misconfigured R C++11 compiler settings]"
Hello,

Just reporting a build failure on OpenBSD. The first thing I notice, is that the `configure` script seems to not be finding the c++ compiler:

    Installing package into '/home/peter/R/x86_64-unknown-openbsd5.8-library/3.2'
    (as 'lib' is unspecified)
    * installing *source* package 'stringi' ...
    checking for local ICUDT_DIR... icu55/data
    checking for R_HOME... /usr/local/lib/

[2015-06-23 06:01] gagolews commented on #169
First of all, let's try disabling C++11. Probably these are R build settings themselves, which are misconfigured:

[code]

Tell me if it works now.

Inspect these default compiler settings with:

[code]

If I am right, you won't be able to install any other C++11-requiring packages...

[2015-06-23 07:55] jeroenooms opened #170 "ICU init failed: U_FILE_ACCESS_ERROR on (open)SUSE"
I'm seeing [these problems](http://pastebin.com/raw.php?i=2d7vYWf8) on some servers (e.g. opensuse):

[code]

I think the problem is that you are [overriding](https://github.com/cran/stringi/blob/master/src/stri_stringi.cpp#L260) the location of icudt even when linked against system ICU. I think you should only be calling `stri_set_icu_data_directory` when the package has been built with the bundl

[2015-06-23 11:14] gagolews commented on #170
Thanks, at least I'll have got stringi tested on many platforms. :)

I need full `./configure`'s output to diagnose that.

setDataDirectory shouldn't be the case here, as according to ICU manual, if a icudt.dat file is not found, bundled icudata (libicudata) is used.

I suspect that suse comes with incomplete icudata itself. Looking at [libicu53](http://software.opensuse.org/package/libicu53_1) rp

[2015-06-23 11:18] jeroenooms commented on #170
I don't have a suse machine available right now. Are these logs any help? [x86](https://build.opensuse.org/package/live_build_log/home:jeroenooms:opencpu-1.5/opencpu/openSUSE_13.2/i586) and [x64](https://build.opensuse.org/package/live_build_log/home:jeroenooms:opencpu-1.5/opencpu/openSUSE_13.2/x86_64).

[2015-06-23 11:19] jeroenooms commented on #170
Oops sorry these logs are for the build without system ICU (which also fails). Let me get you the build log for the one with icu.

[2015-06-23 11:22] gagolews commented on #170
In the attached build logs you get a download error. Cannot do anything about that.

As for suse, funny, there's a separate `libicu53_1-ledata-53.1-2.3.2` rpm. Make sure if it is indeed used. Also, strange, it is installed before `libicu53_1-53.1-2.3.2` - maybe the second rpm overwrites `libicudata`? If so, this is not my fault - you have a misconfigured build envir...

[2015-06-23 11:25] gagolews commented on #170
BTW, if you got a blocked network conn on some system, why not installing stringi directly from github? In such a case, icudt is included in the source bundle - it will be copied from this local repo on install.

[2015-06-23 11:27] jeroenooms commented on #170
I suspect that suse, like yourself, ships `icudt.dat` separately from `libicu` in the installation, but it can't find it because you are overriding `stri_set_icu_data_directory`.

[2015-06-23 11:29] gagolews commented on #170
OK, I'll apply a patch soon (it is harmless anyway) and we'll see if it works.

[2015-06-23 11:30] jeroenooms commented on #170
So how do I build the source package with batteries included? I tried:

[code]

But that gives me the same thing as the CRAN version?

[2015-06-23 11:31] gagolews commented on #170
[code]

[2015-06-23 11:32] gagolews commented on #170
Ah, you mean building the package -- you should edit `.Rinstignore` manually and get rid of `src/icu55/data` entry

[2015-06-23 11:34] jeroenooms commented on #170
And that will automatically find it, and not download the files from the internet? So it can be compiled on a build server without internet access?

[2015-06-23 11:36] gagolews commented on #170
Yes, `install.libs.R` first tries copying icudata from `src/icu55/data`.

[2015-06-23 11:49] jeroenooms commented on #170
OK that makes the source package 23m, that is pretty big indeed. I'll first try it with your patch.

[2015-06-23 13:30] pschmied commented on #169
Many thanks for the reply. Indeed you're correct that the configure flag fixes the problem. I'm feeling a little sheepish right now, because I even tried this previously. Instead of:

    install.packages('stringi', configure.args='--disable-cxx11')

I instead wrote:
    install.packages('stringi', configure.args='disable-cxx11')

Of course this didn't work. Somehow my brain decided `install.packa

[2015-06-23 13:36] gagolews commented on #169
Good idea, thanks.

[2015-06-23 16:36] gagolews commented on #170
Commit 76d125a8bf90ce3fec3300479eea9ac2543b5d1c pushed - what about now?

[2015-06-23 18:17] gsaray101 opened #171 "unable to compile stringi"
I am on linux 64 bit, and trying to compile stringi, I keep getting this error:

checking for elf.h... no
checking whether the C++ compiler supports the long long type... no
*** stringi cannot be built. Upgrade your C++ compiler's settings

how do you get around this, how do you compile stringi in linux so that it works?

[2015-06-23 18:30] gagolews commented on #171
Possible duplicate of #169, please verify.

[2015-06-23 18:43] gagolews commented on #169
@pschmied I filed a patch - does the latest git version compile cleanly without any additional configure args?

[2015-06-23 18:47] gsaray101 commented on #171
Yes, thank u. That resolved my problem

Sent from my iPhone

[2015-06-23 18:58] #171 closed

[2015-06-23 21:04] krlmlr opened #172 "Loading stringi breaks as.character.Rd"
Reproducible on Ubuntu Vivid and rocker, both R 3.2.1 and R-devel. The Docker image in the example below inherits from rocker/drd and installs stringi from CRAN.

## R-devel

[code]

## R-stable

[code]

## Without stringi

[code]

[2015-06-23 21:21] pschmied commented on #169
Appears to load without any problems!

On 06/23/15 11:43, Marek Gagolewski wrote:

[2015-06-24 07:53] #169 closed

[2015-06-24 08:01] gagolews commented on #172
Reproducible on Fedora 21:

[code]

[2015-06-24 08:08] gagolews commented on #172
This is a bug in the `tools` package (which stringi imports):

[code]

I recommend filing a [bug report](https://bugs.r-project.org/bugzilla3/)

[2015-06-24 08:08] #172 closed

[2015-06-24 08:28] krlmlr commented on #172
Thanks for looking into it, I kind of feared this...

[2015-06-24 10:12] fungs commented on #170
I'm also getting this when installing as a dependency of ggplot2 on openSUSE 13.2
When I pull the source from Github (c5fdde3ecbe3cac29b0c1e5f0891c441afed65d1) and install as suggested, I'm getting the same error and the following output. Note the unknown option warning at the beginning.

[code]

[code]

Installed packages are

[2015-06-24 10:20] gagolews commented on #170
`R CMD INSTALL --help` --> the option name is `--configure-args`.

OK, I will install opensuse on a VM and check it out.

[2015-06-24 10:51] fungs commented on #170
I reran it with the correct option syntax but it throws the same error (+ some compiler macro warnings about depricated syntax).

[2015-06-24 10:56] fungs commented on #170
Even faster with docker:

    docker pull opensuse:13.2
    docker run -t -i opensuse:13.2 /bin/bash

[2015-06-24 11:05] gagolews commented on #170
self-note: icudt53l.dat is in `/usr/share/icu/53.1/`

[2015-06-24 12:36] gagolews commented on #170
Should be fixed now, please confirm.

Apparently, the suse icu pkg rpm builder hardcoded ICUDATA path during the lib build. @jeroenooms was right, I forced overriding this path, which lead to an error.

@fungs, BTW, re-compiling the package with changed `--disable-pkg-config` setting needs a `make clean` -- this can be done by passing `--preclean` to `R CMD INSTALL`.

[2015-06-24 12:41] jeroenooms commented on #170
Did you test it with the suse ICU or does it only work with `--disable-pkg-config` and bundled ICU? The Suse build servers do not allow internet access so it won't be able to download icudt.

[2015-06-24 12:43] gagolews commented on #170
I tested it with system ICU.

[2015-06-24 12:45] jeroenooms commented on #170
Okay great, thanks. I'll do another build of my stack soon, hopefully it works now.

[2015-06-24 12:59] gagolews commented on #172
:+1:

[2015-06-24 13:47] fungs commented on #170
@gagolews: I can test on my machine next week, and I will report.

[2015-06-24 18:11] gagolews opened #173 "Create Docker test environments"
Test if `libicu-devel` is used on the following OSes:

Fedora:
* [x] `fedora:20` (ICU4C 50)
* [x] `fedora:latest`
* [x] Fedora 21 (my os)

Ubuntu:
* [x] ~~`ubuntu:12.04`~~  **libicu too old**
* [x] `ubuntu:latest`

CentOS:
* [x] ~~`centos:centos5`~~  **libicu too old**
* [x] ~~`centos:centos6`~~  **libicu too old**
* [x] `centos:latest`

OpenSUSE:
* [x] `opensuse:latest`

Debian:
* [x] `debian:tes

[2015-06-24 18:13] gagolews commented on #30
Note: we should be able to imitate a call to `stri_replace(...)` with `stri_subXXX(stri_locate(...)) <- ...` and a call to `stri_extract(...)` with `stri_sub(stri_locate(...))`

[2015-06-24 18:15] gagolews commented on #30
Also, `stri_paste` accepting lists could be handy.

[2015-06-24 18:18] gagolews opened #174 "stri_paste does not generate any warning (recycling rule) if sep="""
[code]

[2015-06-24 18:20] gagolews opened #175 "stri_paste accepting lists"
Currently there is only one way dealing with list args in `stri_paste`:

[code]

sometimes, results like `a<SEP>b<SEP>c` `<COLLAPSE>?` `1<SEP>2<SEP>3` may come in handy

[2015-06-24 18:23] gagolews commented on #31
This can be imitated with #30, arg. `length == 1`

[2015-06-25 06:27] jlehtoma commented on #170
Had the same problem with openSUSE 13.2 Tumbleweed. Cloning stringi 0.5-3 from GitHub and installing with

[code]

worked for me.

[2015-06-25 15:30] #160 closed

[2015-06-25 15:30] gagolews commented on #170
Added a Docker opensuse testbed in #173, works for me.

[2015-06-25 15:30] #170 closed

[2015-06-25 16:21] #173 closed

[2015-06-25 16:57] gagolews opened #176 "Issues with src/feature_tests.h"
As noted by Uwe Ligges:

[code]

[2015-06-25 16:58] gagolews opened #177 "Solaris: auto-verify that --disable-cxx11 is needed"
As noted by Uwe Ligges:

[code]

[2015-06-26 14:52] gagolews commented on #176
Possible solution (needs a few more tests...)

add a C file `#including <sys/feature_tests.h>` (or inttypes?) and test with configure,
if it fails, try compiling with:

[code]

[2015-06-27 13:04] gagolews commented on #176
The error is:

[code]

[2015-06-27 13:36] jucor opened #178 "install.packages('stringi') fails on OSX Yosemite, R 3.2.1"
Hi folks

On my OSX Yosemite with R 3.2.1, `install.packages('stringi')` fails due to `/lib/cpp` failing sanity check.  Using the pre-compiled Mavericks binary `install.packages('stringi', type='mac.binary.mavericks')` works, but that's not ideal.

Thanks for any help!

## My setup
I have Xcode installed, with clang, and set the variables correctly:
[code]
My SessionInfo():

[code]

## Possible ca

[2015-06-27 13:50] gagolews commented on #176
Patch on the way. Funny thing: it seems also that an upgrade for #177  is no longer needed :)

[2015-06-27 14:13] gagolews commented on #176
Unfortunately, this is not the case with:

[code]

which gives

[code]

[2015-06-27 14:14] gagolews commented on #177
Setting:

[code]

gives:

[code]

[2015-06-27 14:15] gagolews commented on #178
You have a misconfigured C++11 compiler settings. Upgrade them or try the latest git version of stringi.
This is a duplicate of #169 .

[2015-06-27 14:15] #178 closed

[2015-06-27 14:28] gagolews commented on #176
no, no,no :::

[code]

[2015-06-27 14:35] #176 closed

[2015-06-27 14:36] gagolews commented on #176
OK, fixed, `src/uconfig_local.h` does not exist befor `configure` is complete.

[2015-06-27 16:42] paulb20 opened #179 "stringi compile fails on new linux Mageia 5"
Goes through the complete compilation process then fails at: ICU init failed: U_FILE_ACCESS_ERROR

This of course disables huge chunks of the hadleyverse. And therefore breaks my scripts.

System ICU is version 53.1 - they have taken a long time as Mageia is a more 'stable' distro than some and it was transition to enable efi installs.

[2015-06-27 16:43] gagolews commented on #179
did you try the most recent git version?

[2015-06-27 17:43] paulb20 commented on #179
library(devtools)
install(github("Rexamine/stringi")
Downloading gihub repo Rexamine/stringi@master
Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck - vI[[i]]:
there is no package called 'stringr'
.... And of course stringr won't load without stringi so a dependency circle

[2015-06-27 17:48] gagolews commented on #179
[code]

[2015-06-27 17:58] paulb20 commented on #179
still working - it's a netbook so compilation not immediate

ICU_FOUND=1
UCUDT_DIR=ICU55/data
STRINGI_CXXSTD=CXXSTD=CXX11
STRINGI_CFLAGS=
STRINGI_CPPFLAGS=I.  -UDEBUG -DNDEBUG -DEHAVE_ELF_H
STRINGI_CXXFLAGS=
STRINGI_LDFLAGS=-L/usr/lib
STRINGI_LIBS=-licui18n -licuuc -licudata

[2015-06-27 17:59] paulb20 commented on #179
Has worked!!!

[2015-06-27 18:02] gagolews commented on #179
OK, thanks for the report.

[2015-06-27 18:02] #179 closed

[2015-06-27 18:02] paulb20 commented on #179
And that enables stringr and ggplot2 to install too. Thanks for the help.

[2015-06-27 19:24] #174 closed

[2015-06-30 17:40] singmann opened #180 "stri_c warns incorrectly (recycling rule) when using more than 2 elements."
When using more than two elements a warning is triggered even if the longer object length **is** a multiple of shorter object length. This erroneous warning is potentially connected to #174.
[code]

[2015-07-02 03:12] reactormonk commented on #169
Currently, I get

    checking whether we are using the GNU C++ compiler... no
    checking whether   accepts -g... no
    checking whether the C++ compiler supports the long long type... no
    *** trying with disabled C++11 compiler
    checking whether the C++ compiler supports the long long type... no
    *** verify your C++ compiler's abilities (long long, STL, etc. support)
    ERROR: config

[2015-07-02 14:40] fungs commented on #170
I can also confirm that it works now. Thanks!

[2015-07-05 12:18] gagolews commented on #180
Thanks for the report, it seems that the testthat package now ignores warnings generated by `test_that()` -- I haven't got them reported... Bugfix on the way.

[2015-07-05 13:00] gagolews commented on #169
can you now try with the most recent git-devel version of stringi?

[2015-07-05 13:12] #180 closed

[2015-07-05 18:31] reactormonk commented on #169
Can't install devtools :-/

[2015-07-05 20:36] gagolews commented on #169
What about:
[code]
?

[2015-07-05 21:07] reactormonk commented on #169
Works.

[2015-07-05 21:08] gagolews commented on #169
Thx.

[2015-07-06 13:12] Titolondon commented on #168
It's working.. Installation failed because it cannot download icudt.
How could I update stringi when my rstudio server is offline?
Thanks.

[2015-07-06 20:19] gagolews commented on #168
A possible way to do so is to install libicu-dev or libicu-devel on your Linux distribution, see the `INSTALL` file for more details.

[2015-07-06 20:22] gagolews opened #181 "Weird replacements with `stri_replace_all_regex`"
[code]

[2015-07-06 20:22] gagolews commented on #181
See also https://github.com/hadley/stringr/issues/86

[2015-07-07 10:12] gagolews commented on #147
Funny, `str_detect` doesn't induce this error. It operates on a UTF-16 string. On the other hand, `stri_extract` plays with `UText` on a UTF-8 string.

[code]

[2015-07-07 11:01] gagolews commented on #181
We have:

[code]

[2015-07-07 11:10] gagolews commented on #181
OK, it's not a bug, it's a feature. `java.util.regex` behaves exactly like that, too:

[code]

[2015-07-07 11:19] #181 closed

[2015-07-12 15:02] gagolews commented on #88
almost done, an exemplary Rcpp package is available at https://github.com/Rexamine/ExampleRcppStringi

[2015-07-12 15:07] #88 closed

[2015-07-12 15:07] gagolews commented on #151
@Ironholds DONE, see #88

[2015-07-12 15:48] Ironholds commented on #151
Sweeet! Thanks!

[2015-07-16 08:07] petermeissner commented on #181
Will this *finding no-character when searching for any-character* persist? While feature it might be it is startling and actually does not come very handy.

[2015-07-17 07:58] gagolews commented on #181
Yes, it will persist as it is default in ICU. If you want different behavior in stringr (e.g, if stringr=0.6 had something like dotall=TRUE both for TRE and PERL /I'm unsure/), ask @hadley

[2015-07-17 07:59] gagolews commented on #181
Nope, `perl` also has dotall=FALSE in base R

[code]

[2015-07-17 11:50] petermeissner commented on #181
I think the last two comments got a little mixed up and should have gone here: https://github.com/hadley/stringr/issues/69

[2015-07-17 11:55] petermeissner commented on #181
There is still some behavior of dot (in stringi) that I want to point out and find inconsistent:

[code]

Shouldn't it be either:  *0 1 2* or 1 2 3 ?

[2015-07-22 16:58] peti opened #182 "stringi-0.5-5 can't link system icu library when compiling with gcc 4.9.x"
I'm packaging `stringi` for the NixOS Linux distribution. Version 0.5-5 used to work just fine until we updated to gcc 4.9.x. Since then, the `configure` test that tries to find the system `icu` library fails with the following linker error:

    configure:4152: checking with pkg-config for ICU4C installed
    configure:4165: result: 55.1
    configure:4169: checking for ICU4C >= 50
    configure:

[2015-07-22 17:03] gagolews commented on #182
Did you try to recompile the ICU library?

[2015-07-22 17:06] peti commented on #182
Hmm, II'm not sure what happened yet, but it appears that we're building icu with gcc 4.9.x, but R is still using gfortran 4.8.x. I'll need to take a closer look at this. Thank you for the quick response.

[2015-07-22 17:07] gagolews commented on #182
check out `<R_INST_DIRECTORY>/etc/Makeconf` for compiler settings & more

[2015-07-22 17:08] gagolews commented on #182
And by the way, you may also get problems compiling other R packages => recompile R

[2015-07-22 18:19] peti commented on #182
The bug was in our code. Sorry for the false report!

[2015-07-22 18:19] #182 closed

[2015-08-04 17:10] jan-glx opened #183 "stri_sub freezes when supplied with invalid argument"
Hi!
When misusing awesome `stringi` by supplying an empty numeric `to` argument to `stri_sub()` R freezes.
best, Jan

[code]

[2015-08-04 17:12] jan-glx commented on #183
RSessionInfo:
[code]

[2015-08-05 17:25] gagolews commented on #183
OK, confirming, something's wrong:

[code]

[2015-08-05 17:46] gagolews commented on #183
Thanks for the report, dear Jan. Fixed.

[2015-08-05 17:46] #183 closed

[2015-08-06 07:44] jan-glx commented on #183
Thank You!

[2015-08-10 23:17] trinker opened #184 "Improved sentence detection"
I love **stringi**'s speed.  The sentence detection of the package is less accurate than the **openNLP**/**NLP** approach to sentence detection.  Someone has opened an issue on SO regarding this (I offered a bounty on the question):

http://stackoverflow.com/q/31865511/1000343

Is there a way to match **openNLP**/**NLP**'s accuracy and retain **stringi**'s speed?

[2015-08-10 23:19] trinker commented on #184
The example:

**openNLP**

[code]

**stringi**

[code]

[2015-08-11 09:30] gagolews commented on #184
Text boundary (in this case, sentence boundary) analysis in ICU (and thus in stringi) is governed by the rules described in Unicode [UAX29](http://unicode.org/reports/tr29/#Sentence_Boundaries), see also [ICU Users Guide on the topic](http://userguide.icu-project.org/boundaryanalysis). We read:

In other words, this cannot be done without a custom dictionary of non-stop words, which in fact is imp

[2015-08-11 09:31] gagolews commented on #181
@petermeissner, this is again something generated by ICU regex engine and is totally compatible with Java regexes...

[2015-08-12 15:33] srrussel74 commented on #184
The stringi package works with a list rules how to break lines into sentences. I believe it works fast because of use of strings as objects. And I notice openNLP works with  a sort of model from a learning procedure to correct breaking into sentences. is it right? If yes, then it is possible to change set of rules by the model?

[2015-08-26 04:18] pitakakariki opened #185 "Incorrect length/multiple warning"
I don't think this warning message is correct:

    stringi::stri_c(c("a", "d"), ".", "c")
    [1] "a.c" "d.c"
    Warning message:
    In stringi::stri_c(c("a", "d"), ".", "c") :
      longer object length is not a multiple of shorter object length

[2015-08-26 08:11] gagolews commented on #185
Already fixed in https://github.com/Rexamine/stringi/issues/180

[2015-08-26 08:11] #185 closed

[2015-09-20 11:46] richierocks commented on #138
No pressure, but is this still on the TODO list?

[2015-09-20 13:02] richierocks opened #187 "feature request: Support use of connections with stri_read_raw/stri_read_lines"
Most base R file import functions accept either a string to a file path or a connection object.

`stri_read_raw` currently only allows the `fname` argument to be a string.  The line that prevents the use of connections is:

[code]

Since the function is based on `readBin`, which accepts file connections, you could do something like

[code]

I've not submitted this as a pull request because it stil

[2015-09-21 13:54] hadley opened #188 "stri_enc_detect should return data frame"
Since all the elements of the list are the same length. This gives you nice printing.

[2015-09-21 14:05] hadley opened #189 "Encoding sleuthing function"
Sometimes you know what a character should be, and you know how it's stored in a file, and you want to figure out what encoding it might have been (e.g. https://github.com/hadley/readr/issues/252).  It would be helpful to have something to help automate the search, e.g.

[code]

[2015-09-23 14:01] hadley opened #190 "Ability to "un-vectorise" stri_enc_detect"
Often you have a vector of lines, and you'd like to be able to detect their encoding en-masse (I think that's actually more common than the case where you want to detect encoding separately for each element of the character vector)

[2015-10-01 09:02] gagolews commented on #138
Sure, but I'm quite busy right now...

[2015-10-01 09:03] gagolews commented on #187
OK, I'm gonna inspect that in more detail as soon as I find time for that

[2015-10-01 09:03] gagolews commented on #188
good idea!

[2015-10-01 09:03] gagolews commented on #189
good idea, thanks

[2015-10-01 09:04] gagolews commented on #190
right

[2015-10-05 10:13] DaveHastie opened #191 "stri_c throwing possible unexpected warning"
Using stringi_0.5-5 in R 3.2.2 on MacOSX Yosemite.

The following example

[1] "abc1" "abc2" "abc3"

works as expected. However, if I put multiple atomic vectors into the function as well as a single vector of length greater than 1, I get an unexpected incompatible lengths warning:

[1] "abcxyz1" "abcxyz2" "abcxyz3"
Warning message:
In stringi::stri_c("abc", "xyz", 1:3) :
  longer object length is

[2015-10-05 10:14] gagolews commented on #191
Already fixed in https://github.com/Rexamine/stringi/issues/180

[2015-10-05 10:14] #191 closed

[2015-10-07 13:30] seoseungwoo opened #192 "How can I install the stringi package on windows from the local repository?"
Hello,
I use the non-available internet computer(cannot connect the internet)
I download the package from another computer, and burnt DVD then install the my computer
But, When I install the stringi package, I fail to install due to icudt55l.zip
I search the Google and stackoverflow etc, I see the solution is
http://stackoverflow.com/questions/27553452/how-to-install-stringi-library-from-archive-a

[2015-10-07 13:33] gagolews commented on #192
what about `"ICUDT_DIR='d:/aa/'"` ?

You may copy the icu data file manually after the package install (installed_package_folder `stringi/libs`)

[2015-10-07 13:39] seoseungwoo commented on #192
"d:/aa" is location of icudt55l.zip
If I execute install.packages("d:/aa/stringi_0.5-5.tar.gz"), I fail to install due to icu data file.

what's the install method that without icu data file?

[2015-10-07 13:43] gagolews commented on #192
can't you download the pre-compiled version of stringi from CRAN? (.zip file)

R 3.1 https://cran.r-project.org/bin/windows/contrib/3.1/stringi_0.5-5.zip

R 3.2 https://cran.r-project.org/bin/windows/contrib/3.2/stringi_0.5-5.zip

R 3.3 https://cran.r-project.org/bin/windows/contrib/3.3/stringi_0.5-5.zip

[2015-10-07 13:43] gagolews commented on #192
the you `install.packages('.....zip')`

[2015-10-08 07:38] gagolews opened #193 "Update ICU >= 59"
New features in ICU 56:
- ICU data size reduced by about 7.2%
- StringSearch (based on collation) defaults to matches on normalization boundaries rather than grapheme cluster boundaries

Already not dependent on:
- Most of the old Normalizer/unorm.h had been replaced by (and reimplemented via) Normalizer2, and is now deprecated

Already in stringi doc:
- New FilteredBreakIterator suppresses certai

[2015-10-14 05:32] seoseungwoo commented on #192
Thx a lot, install completely for your comment.

[2015-10-14 07:43] #192 closed

[2015-10-21 09:13] checco74 opened #194 "needs "ICU data library (icudt)""
the R-package does not install on a digitally divided computer. icudt, which is not listed among the dependencies, must be downloaded if not present.
I'm running R 3.2.2 on a x86_64 linux-gnu system (installing privately, no root privileges).

[2015-10-21 13:28] hadley opened #195 "Locate groups?"
Is there an existing function to find the location of not just the complete match, but the groups within the match? i.e `stri_locate()` is to `stri_extract()` as ??? is to `stri_match()`?

I'd like this because I'm thinking about making an html widget that displays matches - I thought it might be helpful when learning and debugging regular expressions.

[2015-10-21 14:43] gagolews commented on #194
Please read the `INSTALL` file and make yourself familiar with some of the already closed issues,,

[2015-10-21 14:43] #194 closed

[2015-10-21 14:47] gagolews commented on #195
I also find that useful. Duplicate of #25. I'll have time to work on that in >= November (finally!).

[2015-10-21 14:47] #195 closed

[2015-10-22 15:45] hadley opened #196 "Documentation quibble for ."
`?"stringi-search-regex"` says that `.` matches any character, but that's clearly not true:

[code]

Can you give a more precise definition? Are there any other characters that don't match apart from `\n`?

[2015-10-22 16:23] hadley opened #197 "stri_opts_regex() doesn't have locale parameter?"
What locale does it use for case insensitive matching?

[2015-10-23 09:29] gagolews commented on #197
The current default one, see `stri_locale_get()`

[2015-10-23 09:29] #197 closed

[2015-10-23 09:31] gagolews commented on #197
But anyway, ICU regex matcher is not as intelligent as the one collator (`col`)-based, so you cannot match ß if you look for `ss` in German, say. Unicode normalization (NF...) should be needed here.

[2015-10-23 10:36] hadley commented on #197
Thanks!

[2015-10-23 15:55] AugustT opened #198 "object 'C_stri_join' not found"
Apologies in advance if this has nothing to do with stringi but this error has appeared shortly after an update to this package and the only reference to this object is in this github repo

[I have created a question on stack overflow aswell](http://stackoverflow.com/questions/33306592/object-c-stri-join-not-found-using-knitr-in-rstudio)

When using the knit button in Rstudio I get an error `objec

[2015-10-24 09:00] gagolews commented on #198
1. reinstall `stringi` (`install.packages`...)
2. if it does not help, reinstall `knitr` and `stringr`, too

also, make sure to clean up knitr's cache (check out the `.md` file's directory)

[2015-10-24 09:01] gagolews commented on #196
I will clarify it. http://userguide.icu-project.org/strings/regexp -->

Line terminators are  \u000a, \u000b, \u000c, \u000d, \u0085, \u2028, \u2029 and the sequence \u000d \u000a.

[2015-10-26 10:42] AugustT commented on #198
1. Reinstalling stringi solved the issue, thanks.

[2015-10-26 10:42] #198 closed

[2015-10-27 15:14] hadley opened #199 "stri_sub<- should silently ignore NA locations"
e.g.

[code]

It would be more useful if it behaviour like R where `x[NA] <- 10` silently does nothing.

[2015-10-30 12:53] hadley opened #200 "Escape a regular expression"
Sometimes it's useful be able to escape a regular expression so it behaves like the equivalent fixed match, i.e.:

[code]

That regular expression is safe for this input text (because it doesn't contain any metacharacters), but it's not in general.

[2015-10-30 13:22] hadley opened #201 "stri_replace_all with a function?"
Have you considered allowing the replacement argument to be a function?  It would be called once for each match, and would return a new string.

[2015-10-30 13:44] hadley commented on #59
It feels like `stri_replace_*` should definitely keep all attributes since it's reasonable to think of it modifying the contents of an existing vetor.

`stri_sort()` is harder. In base R:

[code]

And `?sort` has:

[2015-11-02 11:30] DavidArenburg opened #202 "Add "mixed" argument to stri_sort/stri_order"
I think it could be very useful if `stri_sort` and `stri_order` could order mixed strings correctly. I'm not sure if this should be a default or as an additional argument, but if the following would return the correct result it could be great IMO

[code]

[2015-11-02 11:34] gagolews commented on #202
Did you mean:

[code]

?

[2015-11-02 11:37] DavidArenburg commented on #202
Interesting. I'm not sure if this is very well documented, but I'll keep that in mind.
Thanks.

[2015-11-02 11:37] #202 closed

[2015-11-02 11:45] DavidArenburg commented on #202
As a side note, why the following sorts the string in a decreasing order if the `decreasing = FALSE` by default? `stringi::stri_sort(as.character(1:3), list(numeric = TRUE))`. Is that intended?

[2015-11-02 11:52] gagolews commented on #202
this list is a named arg, I forgot to add `opts=list(....)`, sorry! I updated the example

[2015-11-02 11:55] DavidArenburg commented on #202
Thanks, Very nice. I think it could be very useful to have some examples with `opts_collator` in the examples in the documentation. I doubt many people know `stringi` can do a mixed sort.

[2015-11-03 13:28] gagolews commented on #202
You can pull a push request if you want :)

[2015-11-04 14:51] hadley commented on #59
Maybe the only attribute that should be systematically preserved is names? The trickiest case is `*_all(simplify = TRUE)` where the names would become row names.

[2015-11-19 14:10] petermeissner opened #203 "Strange behavior of `str_split()` on lists with `NULL`"
It seems like there is something going wrong:

[code]

... since it should evaluate to NULL or an empty vector like and not a string, e.g. :

[code]

... more precisely I would expect (`str_split(list(NULL,1), ",")`) to evaluate to something like that:

[code]

[code]

[2015-11-19 17:29] vezir opened #204 "Turkish ı problem"
There is a Turkish 'ı' problem.

This output is correct

[1] "İNEK"

But this is not

[1] "ınek"
This one must be 'inek'. In other words 'İ' must be converted to 'i' not 'ı'

[2015-11-19 17:31] bartektartanus commented on #204
I think this is the ICU library bug, not ours...

[2015-11-19 17:40] gagolews commented on #204
This is definitely ICU related. Which ICU version do you use? `stri_info(TRUE)`?

I got:

[code]

[2015-11-19 20:04] vezir commented on #204
[1] "stringi_1.0.1 (en_US.windows-1254; ICU4C 55.1 [bundle]; Unicode 7.0)"

[2015-11-22 16:27] pooryorick opened #205 "configure.ac not included in distribution"
It would be much easier to customize the configure script as needed if configure.ac were included in the distribution.

[2015-11-22 19:36] gagolews commented on #205
Well, It's right here, on  github. I don't add it to the tar.gz on CRAN as the CRAN team doesn't like "auxiliary" files, AFAIK.

[2015-11-24 09:55] puneetduain opened #206 "Unable to install stringi"
/usr/lib64/R/bin/R CMD INSTALL stringi_0.5-5.tar.gz --configure-args='ICUDT_DIR=/staging/'

Error Log
---------
checking whether the C++ compiler supports the long long type... no
*** trying with disabled C++11 compiler
checking whether the C++ compiler supports the long long type... no
*** verify your C++ compiler's abilities (long long, STL, etc. support)
ERROR: configuration failed for package

[2015-11-24 10:13] puneetduain commented on #206
It's not installing on one machine, on other it gets installed without issues. Output of below commands on RHEL 65 is same
R CMD config CXX1X
cat /usr/lib64/R/etc/Makeconf | grep CXX1X

[2015-11-24 10:46] gagolews commented on #206
I need more info to diagnose the problem: please copy-paste the generated `config.log`, `config.status` files

[2015-11-24 10:47] gagolews commented on #206
also, `g++ -v` output pls

[2015-11-24 11:59] puneetduain commented on #206
Using built-in specs.
Target: x86_64-redhat-linux
Configured with: ../configure --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=http://bugzilla.redhat.com/bugzilla --enable-bootstrap --enable-shared --enable-threads=posix --enable-checking=release --with-system-zlib --enable-__cxa_atexit --disable-libunwind-exceptions --enable-gnu-unique-object --enable-languages=c,c+

[2015-11-24 12:00] puneetduain commented on #206
checking for strings.h... yes
checking for inttypes.h... yes
checking for stdint.h... yes
checking for unistd.h... yes
checking elf.h usability... yes
checking elf.h presence... yes
checking for elf.h... yes
checking whether we are using the GNU C++ compiler... yes
checking whether g++ -m64 -std=c++0x accepts -g... yes
checking whether the C++ compiler supports the long long type... no
*** trying

[2015-11-24 12:33] gagolews commented on #206
this is a quite old gcc version

you can try passing `--configure-args='--with-extra-cxxflags="-std=gnu++0x"'`

[2015-11-24 12:33] #206 closed

[2015-11-24 12:43] puneetduain commented on #206
Still Same issue...
The same has worked on 7 different servers with exactly same version but not working on this which is very critical

[2015-11-24 12:46] gagolews commented on #206
unpack the source targz and run `R CMD INSTALL unpacked_dir`; I need the config.log, config.status files..

[2015-11-24 13:05] puneetduain commented on #206
I cannot upload a file, so I compared the file console.log file between the system where it is failing and where it is running and this was the difference (error)

configure:3851: result: yes
configure:3885: checking whether the C++ compiler supports the long long type
configure:3905: g++ -m64 -std=c++0x -o conftest -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector --param=

[2015-11-24 13:22] gagolews commented on #206
The problem is definitely on your side `  error: bits/c++config.h: No such file or directory` - check your C++ compiler etc., I'm afraid I can't help you with that

[2015-11-24 13:22] gagolews commented on #206
see, e.g., http://stackoverflow.com/questions/4643197/missing-include-bits-cconfig-h-when-cross-compiling-64-bit-program-on-32-bit

[2015-11-26 11:10] puneetduain commented on #206
Thanks for working with me on this...Thought to share the resolution...it was listdc++-devel 64-bit rpm that was not installed...

[2015-11-26 11:12] gagolews commented on #206
I'm glad you resolved the issue. Thanks for the info!

[2015-12-04 15:40] gagolews opened #207 "stri_sub: length=0"
[code]

In the last example, the result could be "1423" (character insertion)

[2015-12-06 03:53] jial2 opened #208 "The installation issue for Stringi"
Hi,
I tried to install stringi into R version 3.2.1. I tried the ways people suggested, it works with binary installation.
install.packages("stringi",type="mac.binary")
Unfortunately when I install S4Vectors package, I realized that it wasn't completely installed. I found this message as below.

installing the source package ‘stringi’

trying URL 'http://watson.nci.nih.gov/cran_mirror/src/contrib/

[2015-12-06 10:22] gagolews commented on #208
To build a source version of any R package, you have to install [Xcode](https://developer.apple.com/xcode/)

[2015-12-06 10:22] #208 closed

[2015-12-07 12:53] skanskan commented on #198
For me reinstalling srtingi didn't solve the problem.
And the problem happens not only with knitr but with many other packages, for example latex2exp   or  latex2exp

[2015-12-07 13:42] gagolews commented on #198
clear your workspace, restart R/Rstudio, try again

[2015-12-16 11:16] saeltz opened #209 "Stringi searches for libicu version 52 although 55 is installed"
I get this error message in latest RStudio on Ubuntu 15.10 with all packages up-to-date:
unable to load shared object '/usr/local/lib/R/site-library/stringi/libs/stringi.so':
libicui18n.so.52: cannot open shared object file: No such file or directory

I checked that libicui18n version 55 is installed. The above searches for version 52 which fails. How to fix?

[2015-12-16 11:30] gagolews commented on #209
did you try to reinstall/recompile the package?

[2015-12-16 12:49] saeltz commented on #209
That worked like a charm now. Tried it back in October with stringi 0.5-3 and that didn't help for installing ggplot2. Must have been to do with Ubuntu 15.10 Upgrade, R and stringi updates. Thanks!

[2015-12-16 12:49] #209 closed

[2015-12-20 09:31] gagolews opened #210 "NA replacement"
https://stackoverflow.com/questions/34337873/unexpected-behaviour-with-str-replace-na::

`stri_replace_all_fixed(c("1", "NULL"), "NULL", NA)` should result it c("1", NA)

[2015-12-21 14:15] joelthelion opened #211 "Stringi doesn't compile on fedora 23"
With the latest git revision:

[code]

Attached the full [config.log](https://github.com/Rexamine/stringi/files/68543/config.log.txt) (renamed config.log.txt to cope with github's limitations). I tried removing the offending options, but then I run into other issues. I suspect someone with a better understanding of the autotools would be far more efficient at fixing this.

[2015-12-21 14:31] gagolews commented on #211
Check if your gcc compiler works. Did you install it? I use Fedora for the package development.

[2015-12-21 14:34] joelthelion commented on #211
@gagolews : I use g++ for my own development and it works fine... I'm probably missing some package specific to C or R? I'll investigate more and report back.

Just to make sure: are you using fedora 23? With 22 it used to work fine.

[2015-12-21 14:36] joelthelion commented on #211
I have "C Development Tools and Libraries" and "Development Tools" package groups installed, as well as the obvious (R-devel, and probably a few more I've needed).

[2015-12-21 14:39] joelthelion commented on #211
I have the same error when I run the command manually:

[code]

I couldn't find a trace of this option in the gcc man page. I also tried on a Debian system to see if it used to be an option in older versions of gcc, but I have the same error. Do you know what that option is for, and why it is in the configure script?

[2015-12-21 15:08] gagolews commented on #211
what about `gcc -v` (lower case v)?

[2015-12-21 15:08] joelthelion commented on #211
That works:

[code]

[2015-12-21 15:09] gagolews commented on #211
did you try to compile some other package, e.g., `fastcluster` (via install.packages)

[2015-12-21 15:10] gagolews commented on #211
the error via configure is here:

[code]

[2015-12-21 15:10] gagolews commented on #211
what's that `-specs=/usr/lib/rpm/redhat/redhat-hardened-cc1` stuff ?

[2015-12-21 15:11] gagolews commented on #211
checkout `/usr/lib64/R/etc/Makeconf` or `Renvir` or sth

[2015-12-21 17:37] joelthelion commented on #211
OK, with your help I was able to figure it out. The culprit was this redhat-hardened-cc1, which is mentioned in /usr/lib64/R/etc/Makeconf. To get it I had to install ```redhat-rpm-config```. I think this is a bug in the fedora packaging of R-core or R-core-devel. Since it is needed for compiling packages, it should probably be an explicit dependency. What do you think?

In any case sorry for the n

[2015-12-21 17:37] #211 closed

[2015-12-22 10:17] gagolews commented on #211
I guess you should contact the R/Fedora packaging guys, they must have some bug repo tool.

[2015-12-30 14:46] dmpe opened #212 "Can stri_stats_latex("100% is mine") return 2 words, please ?"
Hello,
this is great package for language processing, guys!!! I have one question:

[code]

returns

[code]
and I would like to see that it returns not 0 words, but 2. It is possible to achieve, somehow?

Also I dont now understand why
[code]
returns
[code]

again 1 word, even though - according to my understanding & wish - it (could) should return 2 words.

Thank you.

Information about Ubuntu Wi

[2015-12-30 14:57] dmpe commented on #212
https://github.com/Rexamine/stringi/blob/master/src/stri_stats.cpp#L213 :)

[2015-12-30 15:13] gagolews commented on #212
This is LaTeX, `%` marks a comment, what about `stri_stats_latex("100\\% is mine")` ? Did you mean to use `stri_count_words`?

[2015-12-30 15:13] #212 closed

[2015-12-30 15:24] dmpe commented on #212
I overloked stri_count_words function. THank you very much.

[2016-01-10 10:22] richierocks opened #213 "stri_detect_regex fails to detect some kinds of punctuation"
From `?regex`:

I expect all values of `x` below to be matched.

[code]

This is true using `grepl`:

[code]

but not using `stri_detect_regex`:

[code]

I wondered if this might be a locale problem, but it remains even when I set `Sys.setlocale(locale = "C")`.

[2016-01-10 15:33] gagolews commented on #213
?regex has nothing to do with ICU, on which stringi is based.

Check out, e.g., http://stackoverflow.com/questions/26348643/r-regex-with-stringi-icu-why-is-a-considered-a-non-punct-character

[2016-01-10 15:33] #213 closed

[2016-01-13 10:35] gagolews opened #214 "Regex serach: Allow matches to empty search strings"
e.g. when searching for `.*`

[2016-01-20 15:57] DavidArenburg commented on #202
Btw, it seems like the `...` passes `numeric` directly to the `opts_collector`, so just `stringi::stri_sort(as.character(1:3), numeric = TRUE)` works too.

[2016-01-29 14:30] tpaskhalis opened #215 "stri_replace_all_regex() with multi-hyphenated words"
When replacing hyphens in words that contain several of them, I noticed this strange behaviour. Is
this something that should be expected when dealing with single-character words and `\w`? `\b` seems to fix the issue, but with `\w` it still looks odd.

[code]

[2016-01-29 14:32] gagolews commented on #215
It's a feature of all regex engines. By default, pattern matches cannot overlap. Perhaps you are looking for look-aheads/look-behinds: http://www.regular-expressions.info/lookaround.html

[2016-01-29 14:32] #215 closed

[2016-01-29 19:22] #196 closed

[2016-01-29 19:22] #214 closed

[2016-01-29 19:25] #204 closed

[2016-01-29 19:26] gagolews commented on #184
As far as I remember, the ICU guys will make that feature available in ICU 57 (?)

[2016-01-30 16:21] #210 closed

[2016-01-31 15:45] gagolews commented on #203
I gave it a thought, everything is fine in your example; stringi functions are supposed to work on character vectors, not lists in general, so your above call is equivalent to a call on `as.character(list(1,NULL,1))` which yields exactly the result indicated.

[2016-01-31 15:45] #203 closed

[2016-01-31 15:51] gagolews commented on #199
[[an `omit_na` arg shall be introduced for that]]

[2016-01-31 16:34] #199 closed

[2016-01-31 17:05] gagolews commented on #136
related to #48

[2016-01-31 17:07] #207 closed

[2016-02-01 14:34] gagolews commented on #184
OK, this has been introduced in ICU 56.

[code]

[2016-02-01 14:34] #184 closed

[2016-02-02 20:31] gagolews opened #216 "detect, subset, subset<-: negate arg"
Introduce a new arg to the aforementioned functions; allow to react on a no-match

[2016-02-03 14:30] #124 closed

[2016-02-03 16:00] #216 closed

[2016-02-07 14:44] #175 closed

[2016-02-07 14:50] gagolews commented on #200
NOTE:

http://userguide.icu-project.org/strings/regexp:

\ 	 ✓ 	  	Quotes the following character. Characters that must be quoted to be treated as literals are * ? + [ ( ) { } ^ $ | \ .

\ 	  	 ✓ 	Quotes the following character. Characters that must be quoted to be treated as literals are [ ] \
Characters that may need to be quoted, depending on the context are - &

[2016-02-12 11:07] jeroenooms opened #217 "Solaris Studio build failure"
On Solaris 10 with Solaris Studio: http://pastebin.com/raw/086gpspJ

[2016-02-14 12:17] gagolews commented on #217
This is a link-time error and most probably it is due to a ill-configured compiler/linker chain. Try passing additional compiler/linker flags via `--configure-args='--with-extra-ldflags=.... --with-extra-libs=....'`

Try a `ldd -r`on the shared library

maybe ` --with-extra-libs=-lCstd` will suffice...

[2016-02-14 12:17] #217 closed

[2016-02-26 13:08] gagolews commented on #217
Dimitar Vassilev reported that playing with R's `Makeconf` did the trick in his case (Solaris 11, `stringi.so: symbol __1cG__CrunKpure_error6F_v_: referenced symbol not found` error) -- it indeed was a misconfigured build chain in his case

him makeconf is as follows:

[code]

[2016-03-13 16:57] bramtayl commented on #153
The code above isn't working for me. I get the error:
Error in stri_replace_all_regex("a", "?<letter>[a-z]", "${letter}") :
  Syntax error in regexp pattern. (U_REGEX_RULE_SYNTAX)

But I'm fairly certain I have ICU 55.1 . When installing, I get:
checking with pkg-config for ICU4C installed... 52.1
checking for ICU4C >= 50... yes

[2016-03-27 13:59] gagolews commented on #44
also for sorted haystacks (bin search/...)

[2016-04-07 09:00] gagolews commented on #217
Another set of hints by Dimitar:

[code]

[2016-04-16 16:02] gagolews opened #219 "stri_order - multiple keys"
allow `stri_order(list(x, y, z))`

However, a common use case would be mixed-type inputs (e.g.,  a data frame columns): numeric, character, factor, etc.; coercion of such inputs to character [as usual in stringi] might not be the best idea..

[2016-05-09 13:07] jeroen opened #220 "Use libicu-dev on Debian / Ubuntu 16.04"
The current CRAN version does not find `libicu-dev` on Ubuntu 16.04. I think the problem is already fixed in the dev version. So a CRAN release any time soon would be really great as many servers will upgrade to Ubuntu 16.04 ;)

[2016-05-09 13:10] gagolews commented on #220
Strange, I haven't played with the `configure` script recently...
Indeed, the next release will be on CRAN quite soon, anyway, I'll check Ubuntu 16 in a docker env.

[2016-05-25 15:56] gagolews commented on #220
Checked with official docker's `xubuntu:xenial`:

[code]

[2016-05-31 21:19] sz-cgt opened #221 "version 1.1 fails to build solely from local sources"
Building `stringi` on a box without internet connectivity fails because `src/install.libs.R.in` doesn't realize `stringi` was built using the included copy of icu55

[2016-06-01 08:59] gagolews commented on #221
This is true, see https://cran.r-project.org/web/packages/stringi/INSTALL and https://stackoverflow.com/questions/27553452/how-to-install-stringi-library-from-archive-and-install-the-local-icu52l-zip

[2016-06-01 08:59] #221 closed

[2016-06-05 23:43] kevinushey opened #222 "ASAN error on load when using bundled icu55"
I'm seeing the following AddressSanitizer error when loading `stringi` (built from sources from CRAN with a simple `install.packages("stringi")`):

[code]

I don't see this when building `stringi` against a system `icu4c (v57.1)` so this error would likely be resolved if the bundled `icu` sources were updated in the future -- of course, I imagine this is no small undertaking given the number of pl

[2016-06-06 07:44] gagolews commented on #222
Thanks for the info!

[issue #193 covers the update already]

[2016-06-06 07:44] #222 closed

[2016-06-06 07:46] gagolews commented on #193
2016-05-18: The Unicode® Consortium has announced that it will host development of the ICU libraries. -- this perhaps may imply changes in the license

[2016-07-07 18:44] bdanalytics opened #223 "Unable to install stringi package for R 3.3.1 on OSX El Capitan"
Am trying to install the R stringi package on Mac OS X El Capitan with a homebrew installation of R in an R console

     R version 3.3.1 (2016-06-21)
     Platform: x86_64-apple-darwin15.5.0 (64-bit)
     Running under: OS X 10.11.5 (El Capitan)

     locale:
     [1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

     attached base packages:
     [1] stats     graphics  grDevices

[2016-07-11 08:47] gagolews commented on #223
"with a homebrew installation of R" --- well...

why don't you try with the "stock" icu (shipped with string), i.e., without `configure.vars="ICUDT_DIR=/usr/local/Cellar/icu4c/57.1/"`

[2016-07-11 11:42] bdanalytics commented on #223
Tried that first a long time ago ...; crashes at exactly the same point:

    In file included from icu55/common/icuplug.cpp:17:
    icu55/common/icuplugimp.h:75:12: error: unknown type name 'UPlugData'
    U_INTERNAL UPlugData* U_EXPORT2

    In install.packages("stringi") :
      installation of package ‘stringi’ had non-zero exit status

Is pkg-config the culprit ? For some reason it does not r

[2016-07-11 11:45] gagolews commented on #223
Try playing with the compiler flags.

[2016-07-11 18:17] bdanalytics commented on #223
As i suspected, pkg-config was the culprit !!!
/usr/local/opt/icu4c/lib/pkgconfig was not in the paths that pkg-config was checking for the icu4c-devel libraries. Thus the following line in bash shell did the trick:

    export PKG_CONFIG_PATH="/usr/local/opt/icu4c/lib/pkgconfig"

After that a standard install.packages("stringi") in R console installed version 1.1.1

Would it be useful to add this

[2016-07-12 12:10] nacnudus opened #224 "Non-capturing groups are returned"
[code]

I expected it to return only "B".

[2016-07-13 08:03] gagolews commented on #223
I already got that explained in `configure` as well as `INSTALL`. Anyway, I'm happy that you found the solution .

[code]

[code]

[2016-07-13 08:03] #223 closed

[2016-07-13 08:04] gagolews commented on #224
Non-capturing groups basically affect the results of `stri_match`, not `stri_extract` - this is a feature common to most of the regex engines.
Perhaps here you meant look aheads/behinds, see http://userguide.icu-project.org/strings/regexp

[2016-07-13 08:04] #224 closed

[2016-07-19 02:14] dajmcdon opened #225 "Installation on cluster"
Hi,

I'm trying to install 'stringi' on a high performance cluster (I do not have root access). However, I continue to get the following error:

icudt has been found in a local repo
icudt fetch OK
decompressing downloaded archive
icudt has been installed successfully
** R
** inst
** preparing package for lazy loading
** help
*** installing help indices
** building package indices
** testing if ins

[2016-07-19 07:48] gagolews commented on #225
Stackoverflow provides plethora of answers to that, see, e.g.,http://stackoverflow.com/questions/21333097/got-message-unable-to-load-shared-object-stats-so-when-r-starts

If I were you, I'd start with playing with `LD_LIBRARY_PATH` and `ldd`

[2016-07-19 07:48] #225 closed

[2016-08-08 14:19] jeroen opened #226 "Configure fails with libcxx"
Trying to build on with clang + libcxx fails as below. Any guess what might be wrong?

[code]

[2016-08-10 12:41] gagolews commented on #226
Check out your compiler flags:

Using `stdlib=libc++` I get a compiler error on clang, too:

[code]

[2016-08-10 12:44] jeroenooms commented on #226
But I **do** have libcxx installed :)

[2016-08-10 12:47] gagolews commented on #226
ahh, sorry, on vacations now :)

here's the source file that stringi tries to compile. are you able to build it?

[code]

[2016-08-21 15:43] t-kalinowski commented on #59
Should stri_trim (and friends) preserve matrix's? (like base::trimws)

I recently had this type of use case:
[code]

[2016-08-29 22:16] PavoDive opened #227 "stri_sub unexpected behavior with accented characters"
The following code produces expected output:

[code]

Yet, if the number in `from` following a number that returns full string is changed, sometimes it returns a string that is one character short:

[code]

Last element (rightmost column) should have been `c("n", "ón", "zón", "izón", "tizón", "tizón")`

If the element that returns full string is moved to some other position, the behavior is consis

[2016-08-31 14:53] gagolews commented on #227
Indeed, the bug is on the stringi side. I will file a bugfix asap.

[code]

[2016-08-31 15:08] PavoDive commented on #227
Marek, thank you. Since I'm just not sure which one predates the other, I just wanted to notice that the same behavior is observable in the `stringr` correspondent function (again, see columns 3 and 6):
[code]
sessionInfo:
[code]

[2016-09-01 11:40] gagolews commented on #227
Yep, a bug in `stringi` implies the same ill behavior of the corresponding `stringr` function.

[2016-09-08 09:55] krlmlr commented on #193
Somewhat related: Would you consider splitting the ICU library to a separate package? This would separate stringi updates from ICU updates, and also allow using ICU in RSQLite (rstats-db/RSQLite#167).

[2016-09-08 10:00] gagolews commented on #193
Wanna help?

[2016-09-08 10:03] krlmlr commented on #193
If I add ICU support to SQLite, that's the route I'd take. Of course, I wouldn't mind if at that point a separate ICU library package already existed ;-)

[2016-09-08 10:05] gagolews commented on #193
@krlmlr And,yeah, sure, I considered that some time ago.
There were also ideas to put icudt in a separate pkg.
But I don't have time for that right now.
and `stringi` is kinda *sensitive* right now, too many pkgs depend on it (directly or indirectly) - so careful moves only

[2016-09-09 02:26] elbamos opened #228 "Compile fails on R-devel"
[code]

If you'd like to see the whole build:  https://travis-ci.org/elbamos/largeVis/jobs/158622690

[2016-09-09 11:36] gagolews commented on #228
Clearly, your compiler flags are ill-configured. As the error msg suggests:

[code]

Try playing with the `CXXFLAGS` environmental variable
or check out https://cran.r-project.org/web/packages/stringi/INSTALL for info on how to pass `-fPIC` while installing stringi.

And BTW, in https://github.com/elbamos/largeVis/blob/master/.travis.yml you set custom build-specific env vars anyway

HTH

[2016-09-09 15:54] elbamos commented on #228
@gagolews The compiler flags are the default for that installation of R.

I'm sure I can find a way to pass `-fPIC` to the linker.  But, is it really intentional that `stringi` should not compile properly out-of-box on current `R-devel`?  It does compile properly out-of-box on current `R-release`, and it seems to me that this issue with `R-devel` is quite recent, in the last few weeks.

[2016-09-11 19:55] gagolews commented on #228
OK, it's a R-devel, but I some maintainer set up those custom compiler flags manually (just like I often do on my own computer).

Anyway, thanks for this notification, I'll be monitoring this situation.

[2016-09-12 08:23] gagolews commented on #228
BTW, this docker image runs on Ubuntu, try installing the `libicu-dev` package and see if it helps.

@note: https://cran.r-project.org/web/checks/check_results_stringi.html - r-devel build ok

[2016-09-20 16:10] bruceredmon opened #229 "add local mirror for installing icudt not working for stringi 1.1.1 (ref #141)"
\> install.packages("/tmp/RtmphNqmsh/downloaded_packages/stringi_1.1.1.tar.gz",configure.vars="ICUDT_DIR=/tmp/icudt55l.zip")

Installing package into ‘/usr/lib64/R/library’
(as ‘lib’ is unspecified)
inferring 'repos = NULL' from 'pkgs'
\* installing *source* package ‘stringi’ ...
\** package ‘stringi’ successfully unpacked and MD5 sums checked
checking for local ICUDT_DIR... /tmp/icudt55l.zip
chec

[2016-09-20 21:42] bruceredmon commented on #141
This is does not seem to be fixed in stringi_1.1.1.  Please see issue #229

[2016-09-21 07:52] gagolews commented on #229
`/tmp/icudt55l.zip` does not look like a DIR to me.

[2016-09-21 07:53] gagolews commented on #229
see https://raw.githubusercontent.com/gagolews/stringi/master/INSTALL

[2016-09-22 17:39] bruceredmon commented on #229
Indeed.  Specifying as a directory works as designed.

[2016-09-22 17:39] #229 closed

[2016-09-25 19:42] gagolews commented on #228
@elbamos , could you pls check if now your build succeeds?

[2016-09-27 03:36] elbamos commented on #228
I just kicked it off:  https://github.com/elbamos/largeVis/tree/hotfix/travis

Is there a way you can link the travis results from that branch here?

[2016-09-27 05:09] elbamos commented on #228
So the issue is unresolved.

[2016-09-27 07:43] gagolews commented on #228
you should build against the devel branch of stringi

pls try instead of:

[code]

using:

[code]

[2016-09-28 10:54] elbamos commented on #228
Ok I kicked it off again.

[2016-09-28 12:11] #228 closed

[2016-09-29 13:43] jeroenooms opened #230 "Fail fast: download icudt55l.zip *before* building"
One of the most common reasons installation fails is because `icudt55l.zip` cannot be downloaded. However this only happens at the very end, which is very frustrating.

It would be great if the configure script would download the required resources before it starts building, and if this fails, don't even start the build.

[2016-09-29 13:53] gagolews commented on #230
That's a nice idea. I can let `./configure` try to download icudt55l.zip first by calling `R`'s `download.file()`. Thanks!

[2016-09-30 14:01] gagolews opened #231 "add support for config via env variables in ./configure"
add support for  config via env variables in ./configure

[2016-10-02 20:37] skanskan opened #232 "stopping at first occurrency"
When working with vectors it would be great if functions such as stri_detect_regex had the option to stop when the first occurrency happen.
(Like  grep -m parameter).

That would make many operations much faster, such as quickly detecting columns containing some string.

I've also asked the same for base R grep, but I guess they will need years to do it.

[2016-10-03 08:56] skanskan commented on #232
maybe the name could be str_any()

[2016-10-03 09:05] gagolews commented on #232
Sounds like a nice idea and not too much work. But:

1. What use cases do you see for that?
2. Provide exemplary inputs and desired outputs.

[2016-10-03 09:39] skanskan commented on #232
Imagine I've just read a large csv file into a data.frame or data.table and I want to set properly the column classes.
I could identify the class of the columns by checking what columns contain a string with the form "xx/xx/xxxx" such as "11/09/2014".

If there are many rows grep needs a long time to process every vector.
But as soon as you detect a matching you don't need to continue checking. (s

[2016-10-03 09:44] gagolews commented on #232
Do you mean something like:

[code]

By the way, did you experience any real situation in practice, where `stri_detect_regex` was not fast enough?

[2016-10-03 09:52] skanskan commented on #232
yes, I mean something like that.

Yes, I'm working with several datasets and in my tests, for this kind of work, stri_detect_regex is not faster than grep.

I've posted an example at stackoverflow
http://stackoverflow.com/questions/39817277/detecting-columns-containing-any-value-quickly-with-grep/39817603?noredirect=1#comment66932589_39817603

They give me some tricks but I thought it could be muc

[2016-10-03 09:54] gagolews commented on #232
OK, this looks easy to implement. Will do that "in due time"

[2016-10-03 11:15] skanskan commented on #232
Thank you.

[2016-10-08 08:16] antaldaniel opened #233 "UTF-8-BOM"
There is a prevailing issue among Central/Eastern European and some Asian users that they have a hard time working with UTF-8-BOM text.  It is very frequent that various web services, such as Google searches, return text to the user in some of these languages with BOM.

Most of the answers I read here and there were educated guesses which software to use to open a saved file from R or RStudio, res

[2016-10-10 09:16] gagolews commented on #233
All BOMs should be handled correctly by default. Have you checked that and run into any problems?

[2016-10-10 12:33] antaldaniel commented on #233
Yes, I'll try to make a reproducible example. The handling of BOM between Windows, R, Rstudio and stringi is a bit above my competence level, but I'll try.

[2016-10-13 01:18] hadley opened #234 "Sub-optimal vectorisation in str_sub<-"
[code]

Ideally it would return `"XbYdefgh"`

[2016-10-17 13:53] hadley opened #235 "Clarify locale in stri_opts_regex"
When you set `case_insensitive = TRUE` in `stri_opts_regex()`, what locale is used?

[2016-10-17 14:17] hadley opened #236 "Unicode helpers"
For teaching/debugging, it would be useful to have helpers to:

* List all the members of a unicode class
* List the properties of a single character

i.e. locally reproduce the effect of pages like <http://www.fileformat.info/info/unicode/category/Pc/list.htm> and <http://www.fileformat.info/info/unicode/char/200d/index.htm>.

[2016-10-18 12:48] hadley opened #237 "Allow replacement functions to take a function as replacement?"
I recently added this to stringr (wrapped inside `str_replace` and `str_replace_all`)

[code]

Would be simpler post #234, but might be worth including in stringi?

[2016-10-20 17:12] gagolews commented on #30
@hadley's example in #234:

[code]

Ideally it would return "XbYdefgh"

[2016-10-20 17:12] gagolews commented on #234
Duplicate of #30

[2016-10-20 17:12] #234 closed

[2016-10-20 17:14] gagolews commented on #235
The current default one, see `stri_locale_get()`.
However, regex ops in ICU are not very much locale-dependent

[2016-10-20 17:14] gagolews commented on #236
Duplicate of #4 and #5 (very old issues, I should resolve them long time ago...)

[2016-10-20 17:14] #236 closed

[2016-10-20 17:15] gagolews commented on #5
@hadley's comment in #236

    List all the members of a unicode class
    List the properties of a single character
i.e. locally reproduce the effect of pages like http://www.fileformat.info/info/unicode/category/Pc/list.htm and http://www.fileformat.info/info/unicode/char/200d/index.htm.

[2016-10-20 17:17] gagolews commented on #237
I'd like to avoid calling R funs from within C++ code, as I'd like to add multithreading via OpenMP in the future and this would cause SEGFAULTS

[2016-10-20 17:17] #237 closed

[2016-10-20 19:34] hadley commented on #30
Ooops, I guess I keep forgetting about this issue!

[2016-10-20 19:35] hadley commented on #235
Is there any way to change the default? It makes me a little worried having an default that will differ from system to system - can you imagine how painful it would be to debug if this was the root cause for why your script worked on your computer, but not someone else's?

[2016-10-20 19:37] hadley commented on #237
Ok, makes sense.

[2016-10-21 08:24] gagolews commented on #235
Yes, it is `stri_locale_set()`, see `?"stringi-locale"`
Initially, locale is set to be compatible to the one used by your system, e.g., `LC_COLLATE` etc. - just like in `Sys.getlocale()`. And this locale (the one given by `stri_locale_get()` is the default to all the functions.

AFAIK, regex matching in ICU does not depend on the locale settings (why would it)

[2016-10-21 11:58] hadley commented on #235
Case insensitive matches?

[2016-10-21 12:00] gagolews commented on #235
good point, but ICU regexes are much dumber than `stri_detect_coll`...

[2016-10-21 12:12] hadley commented on #235
Do they not use the locale? Maybe I should just test it.

[2016-10-21 12:22] gagolews commented on #235
http://icu-project.org/apiref/icu4c/classicu_1_1RegexMatcher.html
http://icu-project.org/apiref/icu4c/classicu_1_1RegexPattern.html
http://icu-project.org/apiref/icu4c/uregex_8h.html

--- none of these mention the term *locale* at all

this is why there is no locale arg in `stri_*_regex`

[2016-10-21 12:37] hadley commented on #235
Ok, so do you think it's reasonable to say that the regex engine uses the standard ("C") locale for case insensitive matches?  Is there a better way to refer to the standard case translation algorithm?

[2016-10-21 12:40] gagolews commented on #235
I would play with the following prior to matching (in some scenarios):
1. `stri_trans_nfkd`
2. `stri_trans_nfc`
3. `stri_trans_toupper`
for both `pattern` and `searchstr`. Then a case sensitive search could be applied

perhaps `stri_trans_nfkc_casefold` could be worth inspecting too

[2016-10-21 12:40] gagolews commented on #235
I would play with the following prior to matching (in some scenarios):

1. `stri_trans_nfkd`
2. `stri_trans_nfc`
3. `stri_trans_toupper`

for both `pattern` and `searchstr`. Then a case sensitive search could be applied

perhaps `stri_trans_nfkc_casefold` could be worth inspecting too

[2016-10-21 14:11] hadley commented on #235
Got it - thanks!

[2016-10-21 14:11] #235 closed

[2016-10-24 11:11] gagolews commented on #231
Env vars added:

* `STRINGI_DISABLE_CXX11`: Disable the use of C++11,
      see also `--disable-cxx11`.
* `STRINGI_DISABLE_PKG_CONFIG`: Force the use of the ICU bundle,
      see also `--disable-pkg-config`.
* `STRINGI_DISABLE_ICU_BUNDLE`: Force the use of the system ICU,
      see also `--disable-icu-bundle`.
* `STRINGI_CFLAGS`: see `--with-extra-cflags`.
* `STRINGI_CPPFLAGS`: see `--with-extra-c

[2016-10-24 11:12] #231 closed

[2016-10-24 13:11] gagolews commented on #230
Almost done.

[2016-10-24 13:13] #230 closed

[2016-10-24 13:39] jeroen opened #238 "Fail configuration when suitable version if libicu should be available"
As discussed in Poznan: `stringi` defaults to building the bundled ICU even when a suitable version of ICU might be available from the system. This can lead to unnecessary complications and build time. Often users are simply not aware that the reason things take so long to build is that they forgot to install `libicu-dev`. It would be better if `stringi` prefers the system ICU if available.

I thi

[2016-10-24 15:06] jeroenooms commented on #220
Still having this problem. I think it appears when `pkg-config` has not been installed on the system.

[2016-10-24 15:07] jeroenooms commented on #238
This should also address https://github.com/gagolews/stringi/issues/220 where stringi can't find ICU if `pkg-config` has not been installed.

[2016-10-24 17:01] gagolews commented on #226
@jeroenooms  Have you resolved this one?

[2016-10-25 10:33] gagolews commented on #238
I gave it a thought: This might happen some day in the future, but for now (see #231) you may set the `STRINGI_DISABLE_ICU_BUNDLE` (e.g., to `"1"`) in order to force the use of system ICU. That's pretty easy for all the build envs, including Travis CI.

[2016-10-25 10:37] gagolews commented on #220
Can you give it a try now (preferably with `STRINGI_DISABLE_ICU_BUNDLE="1"` env var)?

It should be something like this right now:

[code]

[2016-10-31 13:45] dapper2dan opened #239 "stri_join does not parse € symbol correctly"
Title says it all: When using a € symbol within `stri_join` it outputs the unicode code and not the symbol. I tried other symbols (e.g. ¥) and they work fine. So I assume its a bug and not a feature?!

[code]

[2016-11-01 10:26] gagolews commented on #239
The problem is with the EURO currency sign you use: it is not really part of the official Latin-1 character set (This is why it is translated to http://www.fileformat.info/info/unicode/char/0080/index.htm). Therefore, you should input it as unicode http://www.fileformat.info/info/unicode/char/20ac/index.htm, i.e. `\u20ac`.

A copy-paste version: `€`.

[2016-11-01 10:26] #239 closed

[2016-11-02 09:19] dapper2dan commented on #239
I get your point (that the use of 0080 is not official), but would urge you to reconsider, because Windows uses the 0080 for the EURO currency sign (see https://www.microsoft.com/typography/EuroSymbolFAQ.mspx "What is the symbol's Windows codepage location?" and "How do I access the euro symbol?". That page is actually linked on the 20ac fileformat page that you linked to above.) This is also stil

[2016-11-02 09:41] gagolews commented on #239
Sorry, there's nothing I can do about that, it's on the ICU side, and the Unicode consortium know better how to handle such characters. Yet, I will be monitoring this situation, maybe this has already been fixed in ICU>55

[2016-11-03 09:00] dapper2dan commented on #239
Ok, nothing we can do there then. But thanks anyway for considering/keeping an eye on it.

[2016-12-02 18:29] drimacus182 commented on #147
@gagolews It looks like this bug is fixed in ICU 57.1 version. Is there a chance to make stringi use this new version of ICU?

[2016-12-03 13:07] gagolews commented on #147
Yep, this has been fixed, thanks for the info. I'll update the ICU bundle to v.58 as soon as I'll have some time for that.

[2016-12-03 13:07] #147 closed

[2016-12-20 13:44] hrbrmstr opened #240 "Feature Reqest: ICU (icu::PluralFormat)"
First time gh-issuer, long time `stringi` user and zealout :-)

I was thinking about implementing http://www.icu-project.org/apiref/icu4c/classicu_1_1PluralFormat.html outside of `stringi` but was wondering if it has a place in `stringi` instead? I have no pressing need for it but have been in a convo with other who do (and, while https://github.com/hrbrmstr/pluralize is a stop-gap for it, a speed

[2016-12-21 18:35] gagolews commented on #240
Yep, feel free to contribute within stringi :)

BTW, there's a whole bunch of un-implemented features; see, e.g., the whole ICU Message/Number Format system etc. I'd like to see that in stringi, I'd love other R users have access to that but I don't have the time to work on that myself, especially in the so-called "near future".

I guess that a good place to start is to think of the API proposal =

[2016-12-22 08:43] grayskripko opened #241 "Is it possible to unload icudt55l.dat?"
When I change .libPaths() to test my package installation process it loads stringi package. After that, I can use unload, detach and dyn.unload to release test libraries resources. But I can not delete stringi because of loaded icudt55l.dat. I don't want to restart R session because it does not make sense in a script.

[2016-12-22 10:53] gagolews commented on #241
icudt is being automatically loaded by the icu libraries (icui18n, etc.)

just out of curiosity: why would you want to unload this package on run-time?

BTW, are you working in RStudio? RStudion requires stringi on run-time

[2016-12-22 12:44] grayskripko commented on #241
yes, I'm working on RStudio.
As I said, I test my [package](https://github.com/cargomoose/ggraptR) installation. The package depends on many other packages so sometimes I can miss something in DESCRIPTION. For testing purpose, I created an autotesting script. It creates a new empty directory where I reproduce the installation process on naked R. After this process I want to turn all back. I can ch

[2016-12-22 12:44] #241 closed

[2016-12-22 13:10] gagolews commented on #241
I guess all you need in such a scenario is a plain `R CMD check --as-cran` here.

[2016-12-25 19:07] hrbrmstr commented on #240
cool. i'll see what i can put together by mid-January.

[2016-12-28 20:34] ProfFancyPants commented on #153
Is this issue related to the addition of ["If-Then-Else Conditionals"](http://www.regular-expressions.info/conditional.html)? That is, if the named conditionals feature is added, will If-then-else feature go with it? I ask, because I don't see an issue for explicitly adding if-then-else, and my current version doesn't support it.

[2016-12-29 11:23] gagolews commented on #153
This is an ICU-related issue. Try filing a feature request at http://bugs.icu-project.org/trac/.

[2016-12-29 11:26] gagolews opened #242 "COUNT/LIMIT constants are deprecated as of ICU 58.2"
http://bugs.icu-project.org/trac/ticket/12420

Also, add a docker test image with the most recent ICU

[2017-01-07 16:42] #242 closed

[2017-01-09 15:28] ProfFancyPants commented on #153
There seems to already be a feature request at [Ticket #2907 (accepted enhancement)](http://bugs.icu-project.org/trac/ticket/2907).  The last modification was 3 years ago "Status changed from new to accepted". Does this mean the if-else-then feature already has been implemented within ICU? If so, should I try to help integrate it into stringi?

[2017-01-10 10:34] gagolews commented on #153
The status is also UNSCH == Unscheduled. A polite comment regarding this feature @ ICU tracker is recommended, IMO.

[2017-01-16 01:23] wooopenr opened #243 "open r 3.2.2/redhat"
hello friends,

i am trying to install "stringi" package on open r 3.2.2 (on linux redhat). however, its giving me error like;

cc1plus: warning: command line option "-std=gnu99" is valid for C/obj but not for  c++

i usually grab package from mran - download it - and then push it to site repository

do we have compatible "stringi" package for r 3.2.2 version anywhere?

please advise ...

[2017-01-16 03:49] wooopenr commented on #243
i also tried to get package from "https://github.com/gagolews/stringi" and install it but got below error,

error in rawToChar(block[seq_len(ns)]) :
embedded nul in string: 'pk\003\004\n\0\.........0stringi-master

[2017-01-16 13:28] gagolews commented on #243
I don't have much experience with the Microsoft R/Open, The package seems to be supported, see https://mran.microsoft.com/package/stringi/

Do you have the GNU compiler collection installed on your redhat machine (e.g., `yum install gcc-c++`) ?

[2017-01-16 13:28] gagolews commented on #243
BTW,  The current release is Microsoft R Open **3.3.2**, consider an upgrade.

[2017-01-16 15:00] wooopenr commented on #243
thank you for your comment - have gcc-c++.x64_64 installed.

this link, https://mran.microsoft.com/package/stringi/, itself give me that "-std=gnu99" error...

[2017-01-16 20:16] gagolews commented on #243
I guess that the issue may be on the MS side, consider emailing their tech support (?)

[2017-01-16 20:40] wooopenr commented on #243
not for "stringi" or any package though  - not sure but other packages are working fine...

[2017-01-18 22:42] wooopenr commented on #243
checked with MS folks - tech support but they are giving same instruction that we followed - get "stringi-master" zip file - unzip it and then try to install it. But it is giving error like,

**Error in rawToChar(block[seq_len(ns)]) :
  embedded nul in string: 'PK\003\004\n\0\0\0\0\0EE'J\0\0\0\0\0\0\0\0\0\0\0\0\017\0\t\0stringi-master/UT\005\0\001b\032qXPK\003\004\n\0\0\0\b\0EE'JYJ\xc9\xfe\xdd\0\0

[2017-01-19 13:51] gagolews commented on #243
You're trying to *install* a .zip file. Give `devtools::install_github` a try.

[2017-01-19 14:52] wooopenr commented on #243
I got "devtools" package installed with many different dependencies...(sorry if I forgot to mention that we do not have internet connection to outside world from server...)
and I think that's the process we follow - get .tar package and then install it using rstudio client with syntax like,
**> install.packages("/path.../stringi-master.tar", repos = NULL) and usually package gets install.**
but fo

[2017-01-19 16:01] wooopenr commented on #243
any way to get latest version of stringi - may be 1.1.3 ?

[2017-01-20 10:18] gagolews commented on #243
1. Clone the git repository
2. Run `R CMD build`, see https://stat.ethz.ch/R-manual/R-devel/library/utils/html/PkgUtils.html in order to generate a `.tar.gz` source
3. Run `R CMD INSTALL`

For more info, refer to https://cran.r-project.org/doc/manuals/r-release/R-exts.html

[2017-01-20 19:34] wooopenr opened #244 "conencting R with Teradata using RODBC"
I am trying to connect to Teradata using OpenR with RODBC package. I have Linux OS and Teradata driver installed properly. I created DSN by adding entry for Teradata source db in odbc.in file (under "/opt/teradata/client/ODBC_64"). However, when try below syntax to connect it - its not connecting,

or

it simply says
 [RODBC] ERROR: state IM002, code 0, message [unixODBC][Driver Manager]Data sourc

[2017-01-21 16:37] gagolews commented on #244
This has nothing to do with `stringi`.

[2017-01-21 16:37] #244 closed

[2017-01-21 16:46] wooopenr commented on #243
thank you - its a great way to check everything,

I did check for "string-master" and found below OK/ERROR but not sure where issues lies - we are running without internet connection -

**# R CMD check stringi-master
* using log directory ‘/home/xxxx/stringi-master.Rcheck’
* using R version 3.2.2 (2015-08-14)
* using platform: x86_64-pc-linux-gnu (64-bit)
* using session charset: UTF-8
* checking

[2017-02-06 15:39] danielsjf opened #245 "str_replace encoding"
This issue is a slightly modified version of an earlier issue [in stringr](https://github.com/tidyverse/stringr/issues/143).

Using € signs has strange effects in combination with stri_replace.

[code]

It seems that stringi changes the encoding:

[code]

However, resetting the encoding does not solve my problem:

[code]

As @gagolews already indicated, playing with Encoding doesn't change the rea

[2017-02-16 12:15] skanskan opened #246 "Replacing all accents"
Is there any stringr or stringi function or simple way to replace all accents/diactritics from a string with the plain version of the letter?

For example
soñar -> sonar
camión -> camion
égoïste -> egoiste

I'm looking for a single command to do it, instead of having a large list of possible changes.

[2017-02-19 22:04] ripkrizbi opened #247 "multiple string - multiple pattern extractions"
Hi,

the manual for stri_extract_*_fixed states it is vectorized over bot string and pattern. However, if I try:

[code]

I get a complaint that the length of a pattern vector is not a multiple of the string vector. What I hoped for was a cross-product of all matches , i.e. running all patterns against each string. Can you suggest on how best to achieve that without lapply as this tends to get ver

[2017-02-20 10:57] gagolews commented on #247
Nope, this must be slow, it is a cross product. Yet, note that `(for each pattern) (for each string) extract(string, pattern)` shall be much faster than  `(for each string) (for each pattern) extract(string, pattern)`

In R, it is usual to apply `outer()` for such patterns

[2017-02-20 10:57] #247 closed

[2017-02-22 13:11] lukasstadler opened #248 "Use definitions copied from Defn.h only if they are missing"
the macros copied from R's `Defn.h` into `stri_macros.h` are inherently implementation-dependent.
it would be good to make them conditional on the macros actually being missing, so that other implementations of R can introduce their own versions:
[code]
I'd be happy to provide a PR for this.

[2017-02-22 17:42] gagolews commented on #248
If you'd be so kind, yes, please.

[2017-03-08 06:20] isomorphisms opened #250 "core dump"
processing tweets with `twitteR`, `dplyr`, and `stringi`, I got the same memory dump twice in a row:

[code]

I'm thinking it may be a `stringi` issue? Love the package.

[2017-03-08 10:37] gagolews commented on #250
Hi, first of all, try re-installing all the related packages.
If this doesn't help, I will need a (preferebly minimal) reproducible example....

[2017-03-09 06:00] fmgithub2017 opened #251 "If-Then-Else Conditionals (Feature Request)"
Is there any plan to add the If-Then-Else Conditionals (​http://www.regular-expressions.info/conditional.html) ?

It is a very important regular expression feature but it is still missing in R (stringi package). It would be really of great value implementing that.

Thank you very much for the support.

[2017-03-09 10:55] gagolews commented on #251
Great idea, but this is ICU-related, we did not implement the regex engine from scratch. Ask at http://site.icu-project.org/bugs

[2017-03-09 10:55] #251 closed

[2017-03-09 14:37] fmgithub2017 commented on #251
I have asked ICU-project, let's wait and see now, thanks for the reply.

[2017-03-09 14:41] gagolews commented on #251
Could you pls paste the ICU bug tracker ticket link here? Thx!

[2017-03-09 14:53] fmgithub2017 commented on #251
Of course my friend, I don't know if I filled the ticket 100% correctly: but here it is:
http://bugs.icu-project.org/trac/ticket/13023

[2017-03-14 10:29] gagolews commented on #246
Yep, take a look at `stringi::stri_trans_general`.

[2017-03-14 10:29] #246 closed

[2017-03-14 12:09] trinker commented on #246
@gagolews nice thanks for this

[2017-03-19 21:39] mr-majkel opened #252 "[stri_sub] negative length not working?"
Hi,

I'm not sure if I have misunderstood the help page for `stri_sub()`, but I think that feeding negative length doesn't work as supposed to, i.e. I can't get the n chars counting backwards.

According to help page:

Example:
[code]

[2017-03-20 12:19] gagolews commented on #252
Thanks for pointing this out.

In the underlying C++ code, we have:

[code]

which means that if `length <= 0`, then, the result is always an empty string.
Thus, there's a bug in the function's manual only. Fixing.

[2017-03-20 12:21] #252 closed

[2017-03-20 12:23] gagolews opened #253 "CRAN check NOTE: Found no call to: ‘R_useDynamicSymbols’"
at https://cran.r-project.org/web/checks/check_results_stringi.html we read:

[code]

[2017-03-20 12:57] #253 closed

[2017-03-21 13:53] #227 closed

[2017-03-21 13:54] gagolews commented on #227
I finally had time to fix this, thanks for your patience.

[2017-03-21 14:12] #248 closed

[2017-03-21 14:15] gagolews commented on #250
Did a pkg recompile work?

[2017-03-21 14:16] gagolews commented on #243
Closing as for the topis has been inactive for 2 months.

[2017-03-21 14:16] #243 closed

[2017-03-21 14:17] gagolews commented on #233
Closing as the discussion hasn't been active for a while.

[2017-03-21 14:17] #233 closed

[2017-03-21 14:20] gagolews commented on #226
Closing as there was no response for a couple of months.

[2017-03-21 14:20] #226 closed

[2017-03-21 14:21] gagolews commented on #220
Closing as there was no response in a couple of months.

[2017-03-21 14:29] jeroen commented on #220
This still doesn't work. The configure script is unable to find `libicu-dev` if `pkg-config` is not installed:

[code]

You should really try to link against system ICU with the standard flags, even without the help from `pkg-config`.

[2017-03-21 14:44] gagolews commented on #245
ISO/IEC 8859-1 does not officially support the EURO sign. Thus, you rely on an undocumented behavior here.

Stringi converts each input to UTF-8, and this is by design, see `?"stringi-encoding"` for discussion. UTF-8 is well-supported by R and it is a universal super-set of all the other encodings.

If fact, the conversion is seamless and you shouldn't bother with this. If you want to convert from

[2017-03-21 14:44] #245 closed

[2017-03-21 15:01] jeroen commented on #220
You can easily reproduce this by hiding `pkg-config` from your PATH and trying to install stringi.

[2017-03-21 15:17] PavoDive commented on #227
Thanks for doing this. I'd like to use this opportunity to express my appreciation for you and all the people who share their knowledge ​to others through wonderful code. Thanks!

[2017-03-27 16:49] gagolews commented on #250
no response in 19 days; closing

[2017-03-27 16:49] #250 closed

[2017-03-27 16:57] gagolews commented on #220
There you have it:

[code]

[2017-03-29 18:38] ajing opened #257 "Cannot find function stri_join_list after installation"
I don't have any error during installation. But, when I try to find the function stri_join_list, the function cannot be found.

[code]

Some system spec:
[code]

R version:
[code]

[2017-03-30 08:33] gagolews commented on #257
The function is called `stri_paste_list`, but you're right, I should give it some aliases.

[2017-03-30 08:35] gagolews commented on #257
Hmm... wait

[code]

[2017-03-30 08:43] gagolews commented on #257
I cannot reproduce the error. Try reinstalling stringi and see if it helps

[2017-03-30 08:43] #257 closed

[2017-03-30 10:15] gagolews opened #258 "CXX1X deprecated"
CXX1X and similar (e.g. CXX1XSTD) are deprecated as from R 3.4.0 in favour of CXX11.
Please revise at your next update, making sure that the new version depends on R (>= 3.4.0) .

[2017-03-31 14:27] everyones opened #259 "error In stri_encode(temp_res, from = FILE_ENCODING, to = "UTF-8")"
when use qinwf/cidian package, the function decode_scel(), errors happened.
![2017-03-31_222011](https://cloud.githubusercontent.com/assets/24296211/24554581/b76123a0-1660-11e7-9758-1b68669117fb.png)

[2017-03-31 16:46] gagolews commented on #259
Can you give me a minimal reproducible example, some code I could run to reproduce the error with zero effort? Thanks!

[2017-03-31 23:06] everyones commented on #259
Thanks to your reply.the code is here,please check it. but the scel file can not uploading.
[code.txt](https://github.com/gagolews/stringi/files/887117/code.txt)

[2017-04-03 10:36] #258 closed

[2017-04-05 17:38] mgagliol opened #261 "package compilation fails in R 3.1.1"
With the following message: could not find function "dir.exists"

[2017-04-06 09:33] gagolews commented on #261
This has already been fixed in #254

[2017-04-06 09:33] #261 closed

[2017-04-06 09:33] #238 closed

[2017-04-06 09:34] #220 closed

[2017-04-21 19:01] PoseidonJoseph commented on #169
Hello I had something like this
checking C++ compiler g++  -O2 -pedantic -fomit-frame-pointer -m64 -mtune=haswell -march=haswell... no
checking C++ compiler g++  ... no
configure: error: C++ compiler not available, see config.log for details
 any help please I'm just starting to Compiling GCC 6 on macOS Sierra

[2017-04-22 09:07] gagolews commented on #169
Do you have xcode installed? (https://developer.apple.com/xcode/)

[2017-04-22 10:35] gagolews opened #262 "Add emoji support"
Support for emojis added in ICU 57

[code]

[2017-04-22 10:42] PoseidonJoseph commented on #169
Yes , I have xcode installed and command tool line
Thanx you.
I am trying to assembly a C program with terminal mac and it gives me this error also wich I did not have before :
dyld: Library not loaded: /usr/local/lib/libmpfr.4.dylib
  Referenced from: /usr/local/libexec/gcc/x86_64-apple-darwin15.0.0/5.3.0/cc1
  Reason: image not found
gcc: internal compiler error: Abort trap: 6 (program cc1)
Plea

[2017-04-22 11:00] gagolews opened #263 "Add support for RBBI (rule-based break iteration)"
http://icu-project.org/apiref/icu4c/classicu_1_1RuleBasedBreakIterator.html

[2017-04-22 11:07] gagolews commented on #263
rules explained http://userguide.icu-project.org/boundaryanalysis

[2017-04-22 11:24] gagolews commented on #263
example use case http://sujitpal.blogspot.co.uk/2008/05/tokenizing-text-with-icu4js.html

[2017-04-22 12:05] gagolews commented on #193
Update to ICU 59 needs C++11. Solaris can stay ICU55. Need both icudt55 and icudt59 + separate sources

[2017-04-22 12:06] gagolews commented on #262
We need ICU 59 for everybody. That's all

https://github.com/gagolews/stringi/issues/193

[2017-04-22 12:07] #262 closed

[2017-04-22 14:12] gagolews commented on #263
[code]

[2017-04-22 14:15] #263 closed

[2017-04-25 13:44] dselivanov opened #264 "Lower-level C++ api"
Hi @gagolews. Despite that at textworkshop17 I told that it I think it is useless to have lower level C++ api for `stringi`, now I think it can help a lot (especially with memory fragmentation). Internally both `tokenizers`, `text2vec` work with `vector<string>` or `<vector<vector<string>>>`. So obvious fast win would be to have option in `stringi` to return external pointer to `<vector<vector<str

[2017-04-25 13:59] gagolews commented on #264
This is a good idea. I will think about the details and let you know.

[2017-04-28 17:00] hadley opened #265 "Equivalent of encodeString"
The purpose of `encodeString` is to encode non-printable characters. But something seems wrong with R's approach:

[code]

Could stringi provide a more robust alternative?

[2017-04-28 17:03] gagolews commented on #265
Have you checked `stringi::stri_escape_unicode`?

[2017-04-28 17:13] gagolews commented on #265
BTW, I plan to upgrade ICU to v59 in the near future so that stringi will start supporting emojis introduced in Unicode >= 9.0. Emojis were requested by many @ Ken's London Text Workshop

[2017-04-28 17:26] hadley commented on #265
Yeah, it's currently worse than `encodeString()`:

[code]

I assume this is because you don't have the emoji data yet.

[2017-04-28 17:27] gagolews commented on #265
This might be the case. Let's get back to this issue in the (near) future then.

[2017-04-28 17:27] hadley commented on #265
`stri_width()` has problems for presumably the same reasons:

[code]

(All the width four emoji are the family "ligatures" like 👨‍👦‍👦 )

[2017-04-28 17:29] gagolews commented on #265
For `stri_width`, I actually hard-code the widths based on pre-defined code ranges. I guess all emojis should be of width=2, am I right?

[2017-04-28 17:30] hadley commented on #265
I think they should all be width 1

[2017-04-28 17:33] hadley commented on #265
Assuming that you already have support for the combining mark.

[2017-04-28 17:33] gagolews commented on #265
Where can I get the `emo` package from?

[2017-04-28 17:34] gagolews opened #266 "stri_width support for emojis"
See the discussion in #265

[2017-04-28 17:35] hadley commented on #265
https://github.com/hadley/emo

[2017-04-28 17:38] gagolews commented on #265
btw,As soon as I update the ICU (and thus the Unicode Character Database), access to emojis by name will be much the same like here:

[code]

[2017-04-28 17:43] hadley commented on #265
That'll be great! (although the keywords will probably still be helpful)

[2017-04-28 17:45] gagolews commented on #265
sure thing!

[2017-05-07 15:06] yutannihilation opened #267 "Can stri_sub<- keep the string as is if the replacement is NA?"
In base R, we sometimes find the combination of `regexpr` and `regmathces<-` useful to partially replace strings after some processing. Since `regmatches<-` do nothing when the index is `-1`, which means no match, we can use it without considering if there are any elements that are not matched. Here is an example:

[code]

I wonder if I can do similar things with stringi, using `stri_locate` and `

[2017-05-08 13:53] gagolews commented on #267
I guess it's reasonable to assume that `omit_na=TRUE` should omit missing values in the replacement strings vector too. Thanks.

[2017-05-08 22:01] yutannihilation commented on #267
Thanks for the reply! I've created a pull request for my practice of C++.

[2017-05-12 17:55] #267 closed

[2017-05-22 08:53] Tazinho opened #269 "directly: UTF8 -> ASCII"
Is there a way to go directly from utf8 to ascii?
So far I only see the option to go with combinations from
`stringi::stri_trans_list()`
from some national encoding to latin and then to ascii via `stringi::stri_trans_general()`.

However, I am looking for someting like uni2ascii mentioned here on so:
http://stackoverflow.com/questions/17517319/r-replacing-foreign-characters-in-a-string

Regarding

[2017-05-22 22:20] Tazinho commented on #269
BTW:
I would have been fine with my first approach to this via "Latin-ASCII",
which however results in different results depending on the system:

on windows:

[code]

on ubuntu:

[code]

[2017-05-23 06:58] gagolews commented on #269
Yes, `Latin-ASCII` seems to be a nice solution. The problem on windows is most likely due to the fact that you do not input `œ` as UTF-8 but via R-flavored latin-1. This is not official latin-1, as https://en.wikipedia.org/wiki/ISO/IEC_8859-1 such a digraph is not supported by this encoding.
Try calling `enc2utf8` on the first arg

[2017-05-23 07:04] Tazinho commented on #269
Hmmmm
still on windows:

[1] "\u009c"

[1] "\u009c"

[2017-05-23 07:06] gagolews commented on #269
What about your `charToRaw("œ")` and `Encoding("œ") and `Sys.getlocale()`?

[2017-05-23 07:14] Tazinho commented on #269
[code]

[2017-05-23 07:23] gagolews commented on #269
OK, and what about `stringi::stri_trans_general("\u0153", "Latin-ASCII")`?

[2017-05-23 07:27] gagolews commented on #269
and `stringi::stri_trans_general(stri_encode("œ", from="WINDOWS-1252", to="UTF-8"), "Latin-ASCII")`

[2017-05-23 07:28] gagolews commented on #269
I guess stringi should handle R's "latin1" on Windows as Windows-1252 (https://en.wikipedia.org/wiki/Windows-1252)

[2017-05-23 07:30] gagolews opened #270 "latin1 is windows-1252 on windows"
see discussion in #269

[2017-05-23 07:34] Tazinho commented on #269
Works so far:
Windows
[code]

[2017-05-23 07:36] gagolews commented on #269
Cool. I guess this should be the default conversion on Windows instead of stri_encode("œ", from="ISO-8859-2", to="UTF-8") (which is done internally). I opened an issue for that; as soon it's fixed and on cran, this will be the default behavior.

[2017-05-23 07:49] Tazinho commented on #269
Thanks! I will try it, when it's ready :)

[2017-05-25 12:47] gagolews commented on #269
Hi! Are you able to compile the lastest git version of stringi on Windows? Could you pls try if it works now?

[2017-05-25 13:08] gagolews commented on #269
I got -- before:

[code]

after:

[code]

[2017-05-25 15:11] sfirke commented on #269
Doesn't seem to have fixed it for me:
[code]
`session_info()` says `stringi  * 1.1.6   2017-05-25 Github (gagolews/stringi@27b47f4)` is my current version of stringi.  I'm running Windows 10

[2017-05-25 15:17] gagolews commented on #269
@sfirke your `Sys.getlocale()` and `Encoding("\x80")` and `stri_enc_mark("\x80")`?

[2017-05-25 17:38] sfirke commented on #269
[code]

[2017-05-27 11:16] gagolews commented on #269
Can't reproduce that on my Windows 7 :(

[code]

Could you please give `stri_enc_toutf8("\x80")` a try too?

[2017-05-28 04:55] sfirke commented on #269
[code]

I'm running R 3.4.0 but also tried on R 3.3.3 and get the same result.  In case more info helps:
[code]

[2017-05-31 21:31] yassinebha opened #271 "installation issue on R 3.3.2"
Hi
I'm trying to install stringi without sucess on R 3.3.2,I on ubuntu 14.04.
If you have any clue why this happening.Thanks

here is the full error message: (sorry for the long output message)

[code]

[2017-06-01 11:59] gagolews commented on #271
This is highly unusual and most likely has nothing to do with stringi. Are you able to compile other packages?

Could you try upgrading R and all ubuntu packages (especially the gcc compiler collection) and see if it works then?

[2017-06-01 19:41] yassinebha commented on #271
Thank you so much, I upgraded gcc as you suggested and now it worked.
For info, here is how I updated my gcc on ubuntu 14.04 https://askubuntu.com/questions/466651/how-do-i-use-the-latest-gcc-on-ubuntu

I guess you can close the issue now
Thanks again.

[2017-06-01 22:51] gagolews commented on #271
Jolly good.

[2017-06-01 22:51] #271 closed

[2017-06-11 11:46] Tazinho commented on #269
Please let me know, if you still need any testers.

[2017-06-12 10:58] gagolews commented on #269
I failed identify where the problem is (so far). :(

[2017-06-21 01:35] sfirke commented on #269
I can get the oe character and the euro symbol to convert if I insert `stri_encode` as you did in an example above.  Do you see anything useful in this output?
[code]

[2017-06-21 01:36] sfirke commented on #269
I can get more Windows users to test certain commands if helpful in learning more.

[2017-06-21 08:46] gagolews commented on #269
Thank for all these. What about `stri_enc_info("WINDOWS-1252")`?

[2017-06-21 08:49] gagolews commented on #269
Maybe any of you could help me hacking than in C++? The relevant files are stri_container_utf8.cpp and stri_container_utf16.cpp. In Lines 84 and 102, respectively, a WINDOWS-1252 codec is opened. I wonder if `#if defined(_WIN32) || defined(_WIN64)` is TRUE on Windows 10 (?) adding `Rprintf("I'M HERE\n");` like instructions in the code could help determining whether the preprocessor-conditional par

[2017-06-21 19:31] sfirke commented on #269
Here's `stri_enc_info("WINDOWS-1252")`:
[code]

As to the C++ debugging, I have never done anything in C++ ... but your guidance seems like enough of a starting point that I will take a look and see what I can find out!

[2017-06-23 13:42] sfirke commented on #269
I can no longer reproduce this error, which is great, though I'm sorry to have wasted your time.  As best I can tell, I had reloaded the patched version of stringi, not realizing that the changes to C++ wouldn't take until I restarted R.  (This came to me after I added your print statement suggested above - even when I deleted + installed the package to clear the print statements out, I was still

[2017-06-23 13:55] gagolews commented on #269
Heh :)

@Tazinho, can you confirm? If so, please close the issue.

[2017-06-23 14:54] Tazinho commented on #269
Yes! Here the complete output. Thanks a lot :)

[code]

[2017-06-23 14:54] #269 closed

[2017-07-11 13:24] willgdjones opened #274 "Compile error MacOS Sierra 0.12.5"
I have what seems to be a clang error.

My xcode version is 8.3.3.

Clang:
[code]

Clang++:
[code]

[code]

[2017-07-20 15:58] gaborcsardi opened #275 "Solaris install does not work with C++11 support"
At least not with Solaris 10 and Oracle Developer Studio 12.5 or g++ 5.2.0.

I wonder if it would make sense to turn off C++11 support by default on this platform. Or give a more helpful message when configure fails.

Is there any situation when the package installs cleanly on Solaris with C++11 support turned on?

[2017-07-21 00:14] gagolews commented on #275
Not really, no. Yet, it works on the CRAN machines, therefore I'm not touching the config.

[2017-07-21 00:14] #275 closed

[2017-07-27 11:45] koheiw opened #276 "Handling of special katakana letters"
I can process Asia language easily thanks to **stringi**, but I found a potential inconsistency between `stri_extract_all_boundaries()` and `stri_detect_regex()` with a Japanese special katakana letter ㋐, which is a katakana ア in a circle. I consider ㋐ just a symbol but it is both symbol and katakana according to ICU's definiton.
[code]
Probably due to the its membership in the symbol class, `stri

[2017-07-29 10:25] gagolews commented on #276
Interesting! Did you test the stringi package behavior when it is compiled against the latest version of the icu4c library? I wonder it it's just stringi or the Unicode database in ICU. http://site.icu-project.org/download

[2017-08-01 07:25] rushikeshbrahmankar opened #277 "installation error on suse linux"
Hello Experts,
We are trying to install stringi on our R server ( 3.2 ) .
But getting below error:
/usr/lib64/gcc/x86_64-suse-linux/4.3/../../../../lib64/crt1.o: In function `_start':
/usr/src/packages/BUILD/glibc-2.11.3/csu/../sysdeps/x86_64/elf/start.S:109: undefined reference to `main'
collect2: ld returned 1 exit status
make: *** [stringi.so] Error 1
ERROR: compilation failed for package ‘stri

[2017-08-01 11:58] koheiw opened #278 "Not detecting separators"
I got an interesting text on the internet which contains a lot of non-printing characters. I tried to clean it using `stri_replace_all_regex`, but did not work. This seems like a bug.
[code]
Probably for the same reason, these do not return anything.
[code]

[2017-08-01 12:00] koheiw commented on #276
I tried to use ICU59 data to build **stringi**, but it wasn't easy for me. I will try again.

[2017-08-02 00:50] gagolews commented on #277
Hi, I don't have enough data: this is not a complete output from the install process.

[2017-08-02 00:52] gagolews commented on #278
Interesting, thanks. But again - I wonder if this will be the case with the latest ICU. Perhaps they already updated the Unicode Character Database...

[2017-08-03 16:45] romainfrancois opened #279 "detection of emoji properties"
I'm trying to use `stringi` to regex for emojis, using e.g. this code:

[code]

I've installed `icu4c` with brew prior to install `stringi` from source, but no luck.

[2017-08-03 18:33] Tazinho commented on #269
@gagolews Are you aware of any way to transliterate ö, ü, ä, ß to oe, ue, ae and ss? As mentioned in the first post?

I implemented this as a lookup in the snakecase package, but only for these german cases and it would be interesting if you knew about a more general way, which includes all letters, which are related to only one specific language alphabet and have an obvious transliteration. Of co

[2017-08-04 00:58] gagolews commented on #279
As far as I remember, emoji support was introduced in ICU 59.

For example, in my current system, I use:

[code]

[2017-08-04 01:01] gagolews commented on #269
At least ß works:

[code]

[2017-08-04 01:04] gagolews commented on #269
I guess ICU does not support this...

[2017-08-11 09:41] romainfrancois commented on #279
Thanks. I have

[code]

[2017-08-25 11:43] atajti opened #280 "stri_extract_all stops regex matching at newline"
After running the following code snippet, I expect to get `"ing\nof inter"`:
[code]
However I get `NA` as result. After modifying to `regex="ing.*"`, I expect `"ing\nof interest"` as result, however it gives `"ing"`.

It also seems to be the case with
[code]

sessionInfo()
R version 3.3.3 RC (2017-02-27 r72279)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 14.04.5 LTS

locale:
 [1]

[2017-08-25 17:55] gagolews commented on #280
Hi, RTM, see ` ?stringi::stri_opts_regex`, HTH.

[2017-08-25 17:55] #280 closed

[2017-08-27 14:56] atajti commented on #280
My bad, thanks for the pointer.

[2017-09-04 01:38] AndreMikulec opened #281 "`%s+%` is not always performing string concatination"
`%s+%` supposed to perform string concatination.
It does not always do that.

[code]

This happens because one side ( eithor left or right ) is returning NULL.
The output  is correct (as far as I know) behaviour.

I recommend (feature request) that a safer concat operator be added.

Since situations are cumbersome to program 'around' these 'correct cases',
I recommend that a safer concatenation in

[2017-09-04 13:03] gagolews commented on #281
I like your proposal. However, also other operators like `%S<` should be overloaded too. Could you prepare a pull request (operators' definitions and updated manual). Thanks!

[2017-09-07 01:31] AndreMikulec commented on #281
O.K. I will start working on that.  Work will use up *some time* though.

[2017-09-07 08:18] gagolews commented on #281
no worries, take your time, I'm busy too..

[2017-09-08 01:29] XD-DENG opened #282 "Downloading "icudt55l.zip" may fail in Server context"
I understand the file `icudt55l.zip` will be downloaded from one of the three URLs provided in file `install.R`.

But if I'm installing this package on a production server which may not have internet access, this may cause trouble. The solution I came out with was to download `icudt55l.zip` separately, host is as *http://localhost/icudt55l.zip*, AND change the URL in the install.R in the source co

[2017-09-08 09:25] gagolews commented on #282
This problem has already been addressed in several github Issues. Please search within the Issues' history for the answer to your concern. HTH

[2017-09-08 09:25] #282 closed

[2017-09-10 11:28] Tazinho commented on #59
Here is another usecase, where it makes sense to preserve names:
https://github.com/Tazinho/snakecase/issues/93

I decided to preserve them within the snakecase package now, but noticed that this is not consistent with `stringr::str_to_lower` etc. and the underlying __stringi__ functions. So I'd like to suggest this change at least for `stringi::stri_trans_tolower()`, `stringi::stri_trans_totitle(

[2017-09-13 05:02] crystal0721 opened #283 "the questions of installation stringi"
I am checking an R package called  stringi，while there are some questions as follows when installing：
      Error: package or namespace load failed for ‘stringi’ in dyn.load(file, DLLpath = DLLpath, ...):
 unable to load shared object '/PUBLIC/software/RNA/R/R-3.4.1/lib64/R/library/stringi/libs/stringi.so':
  libicui18n.so.52: cannot open shared object file: No such file or directory
Error: loadin

[2017-09-14 10:04] gagolews commented on #283
Try reinstalling the stringi package and let me know if this helped.

[2017-09-22 15:50] magic-lantern commented on #30
It's been quite some time since the last comment. Is there a work around for this that people have come up with?

[2017-10-02 19:53] mespe opened #285 "Warn if coerce list->character vector"
### Reproducible example

[code]
returns 1

[code]
returns 0 0 0 0 0

### Desired behavior

Fail with error that stri_count_regex() expects a character vector.

### sys.info

R version 3.4.2
stringi version: stringi_1.1.5

[2017-10-03 14:43] gagolews commented on #285
It is a feature.
`stri_count` accepts a character vector argument. List is not of such a type, so it will be converted to a string. The result will be:

[code]

so there's one `c` in the above string.

In the second example we are matching the pattern 5 times (to each letter). None of the letters is equal to `c`, so there are 5 zeros.

The behavior is well-documented and explained in the manual, s

[2017-10-04 00:53] mespe commented on #285
Thanks for letting me know you consider this a feature.

We found the documentation lacking, honestly. Furthermore, the fact that the call to R's as.character() is happening in C code rather than in any of the exported R functions makes it rather difficult to diagnose what is actually happening with this function. Not many users will be able to drop into gdb to figure this out.

You might consider

[2017-10-04 08:32] gagolews commented on #285
Yeah, I guess a warning could do the trick here.

[2017-11-05 22:18] QuLogic opened #286 "Latest release tag is missing"
On CRAN, the latest version is 1.1.5, but the latest git tag is 1.1.4.

[2017-11-06 09:44] gagolews commented on #286
done

[2017-11-06 09:44] #286 closed

[2017-11-08 20:03] patperry opened #287 "Work around bug in `enc2utf8` / `translateCharUTF8` on Windows"
R's handling of native text is buggy on Windows. Specifically, R marks all Windows-1252 text as Latin-1. This causes problems when converting from marked "latin1" strings to "UTF-8": bytes in the range 0x80 to 0x9F get translated as U+0080 to U+009F. See, for example, the input string `"You don‘t get “your” money’s worth"`:

<img width="544" alt="screen shot 2017-11-08 at 2 39 48 pm" src="https://

[2017-11-10 10:20] gagolews commented on #287
Hi, I've worked that already in #270

[2017-11-10 10:20] #287 closed

[2017-11-10 12:23] patperry commented on #287
great to hear! sorry for not checking the devel version before posting

[2017-11-10 12:24] gagolews commented on #287
no worries!
 I'll be filing a CRAN update of stringi today

[2017-11-16 00:57] hadley opened #288 "stri_match doesn't return correct number of columns when input is empty"
[code]

In an ideal world the number of columns would be one plus the number of groups.

Part of https://github.com/tidyverse/tidyr/issues/313

[2017-11-16 21:06] hadley opened #289 "Should str_c etc have na.rm = TRUE?"
Since it treats `NA`s like other summary functions.

[2017-12-16 22:28] HenrikBengtsson commented on #168
Found this trhead after running into to installation issues (full details below) with stringi in a CentOS 7.4 environment **without internet access**.  From the comments in the thread, it looks like I should not expect `install.packages("stringi", repos = "file://...")` to work - is that correct?  Or should I attempt to install some missing library (I need to run this by sysadm so hence no trial'n

[2017-12-16 22:38] jeroen commented on #168
@HenrikBengtsson did you try installing `yum install libicu-devel` and build against that? That used to work. Or did the required icu version bump again?

[2017-12-16 22:49] HenrikBengtsson commented on #168
I don't have `sudo` so trying to install new libraries will be a slow process.  I think I've got the latest version of `libicu-devel`;
[code]

[2017-12-16 22:55] jeroen commented on #168
Ah I see that stringi `1.1.5` has bumped the requirement to ICU 52. That's unfortunate. You can try installing `stringi 1.1.4`?

[2017-12-16 23:05] cderv commented on #168
The source of ICU should be included in the github repository of stringi. If you download the repo as zip directory from an online environment then copy to your offline environment and install from source it should work.  It did for me.

[2017-12-16 23:16] HenrikBengtsson commented on #168
Confirming that that's why / a workaround.  I can that `stringi 1.1.3` works with:
[code]
whereas `stringi 1.1.5` does not:
[code]

I ran into this problem with `revdepcheck()`, which means I cannot really control the version installed (unless I fake the CRAN package content etc).  However, since it relies on `crancache`, I could work around the problem by populating its local cache with `crancach

[2017-12-16 23:21] cderv commented on #168
You can already do this using an environment variable or putting it the correct dir under src like it is in this github repo.

See my answer just above.

[2017-12-16 23:59] HenrikBengtsson commented on #168
Great - thxs @cderv. `ICUDT_DIR` is what I was looking for.  I know see that there's a https://cran.r-project.org/web/packages/stringi/INSTALL with this information (it also mentions installation from the git source).  AFAIU, the following should work:

Download:
[code]
Verify and install:
[code]

The nice thing with `ICUDT_DIR` is that sysadm can set it (as long it's maintained, because if the fi

[2017-12-17 07:24] cderv commented on #168
Agreed, `ICUDT_DIR` configuration is a good solution.

Know that you can also create a `stringi` package source (`tar.gz`) that contains the zip file in `src/icu55/data` by commenting the correct line in `.Rbuildignore` and building the `tar.gz` source packaging.
When you have that, anyone will be able to install it from source using this `tar.gz` file. You can also publish this package in a custo

[2017-12-17 07:37] cderv commented on #282
As I answered this in another thread, I post it here for future reference if anyone search for it.

You can consult the **INSTALL** recommandation on [github](https://github.com/gagolews/stringi/blob/master/INSTALL) or on [CRAN](https://cran.r-project.org/web/packages/stringi/INSTALL). It will explain everything if you need to compile with ICU.

In your case you have downloaded the zip ICU bundle

[2018-01-26 18:29] wzrzt commented on #283
I meet the same error too. After I installed icu4c 60.2 from source downloaded from
http://site.icu-project.org/download/60#TOC-ICU4C-Download
I want to solve the problem that you mentioned in former issue that ICU bug with Chinese characters.
So I try to upgrade libicu-dev from 5.5 to 60.2 on my ubuntu.
On my mac, after brew install icu4c, stringi work fine with Chinese characters.
[code]

[2018-01-26 18:34] wzrzt commented on #283
And when installing stringi, It found ICU4C 60.2.
<img width="946" alt="stringierror" src="https://user-images.githubusercontent.com/12440644/35454817-83c73e34-030a-11e8-9513-d70ec14b8508.png">

[2018-01-27 10:40] gagolews commented on #283
This is not particularly related to stringi, but your ill-configured dynlib search path... `libicui18n.so.60: cannot open shared object file: No such file or directory` try changing the location of the `libicu*.so*` files or changing `LD_LIBRARY_PATH` (among others)

why don't you give `Sys.setenv(LD_LIBRARY_PATH="/path/to/blah")` a try (for example)

[2018-01-28 08:47] wzrzt commented on #283
Thank you very much. I tried it on another ubuntu and no problem appears. So I reinstalled libicu-dev on my ubuntu with the parameter "--fix-broken" and then the problem is gone.

[2018-02-10 17:52] econandrew commented on #59
Came here from referred issue above, and agree w @hadley's suggestion to at least preserve names. I hit this when using a named vector as input to labels in a ggplot2 scale, which will match by name if the vector is named. I find this a pretty useful feature in general.

However, when I decided to `stringr::str_wrap` the labels, it drops the names and fails silently 😭 as scale_* falls back to vect

[2018-02-12 10:22] chris-park opened #290 "Package installation failure in 1.1.6"
Hi,

Installation of `stringi` 1.1.6 fails in a remote server with no network access, as the package attempts to download the `icudt` zip file from one of the three `icudt_mirrors` (see `install.R`). I think including a static copy of the zip file and including it within the package  for a self-contained install (maybe a flag?) might be nice for people who work in environments like mine.

I also n

[2018-02-12 11:55] gagolews commented on #290
Check out https://stackoverflow.com/questions/31942322/how-to-install-stringi-from-local-file-absolutely-no-internet-access

[2018-02-19 13:09] Serenthia opened #291 "Unable to install 1.1.6: "C compiler cannot create executables""
Since updating Xcode to 9.2 at the start of February 2018, I've been unable to install stringi on macOS Sierra 10.12.6 (which is preventing the installation of many other packages that depend upon it).

Full details can be found in [this StackOverflow question](https://stackoverflow.com/questions/48866862/cannot-install-stringi-since-xcode-command-line-tools-update), but happy to provide more here

[2018-02-19 16:38] gagolews commented on #291
Are you able to install, e.g., the Rcpp package or does it fail too?

[2018-02-20 09:04] Serenthia commented on #291
Yup, Rcpp installs just fine through `install.packages`.

[2018-02-20 11:31] gagolews commented on #291
Could you please:

[code]

and post  the contents of `config.log` and `config.status`?

[2018-02-21 10:18] Serenthia commented on #291
`config.status` wasn't produced, but here's `config.log`:

[code]

[2018-02-21 12:20] gagolews commented on #291
Here's the problem:

[code]

seems like you don't have the openmp lib installed (stringi doesn't need it)

the compiler is ill-configured, not an  issue with stringi...

[2018-02-21 12:20] #291 closed

[2018-03-01 08:22] AndreMikulec opened #292 "Safe concatenation/comparison operator"
I would still like to add the Safe
[code]
operator.

I [still] can not locally build the roxygen2 documentation.
(Therefore @export is not processed and new functions are not written to NAMESPACE.)

[code]
Here are the additions.

stringi/R/utils.R
[code]

stringi/devel/testthat/test-plus.R
[code]

stringi/R/join.R
[code]

stringi/R/compare.R
[code]

[2018-03-06 10:37] gagolews commented on #290
Did that help?

[2018-03-06 10:42] gagolews commented on #292
Hmm... did you try ` devtools::document("./stringi")` from within the classic R (not rstudio)

I don't think I like the behavior that `any(is.na(x))` substitutes the whole vector with an empty string

After thinking for a while I reckon such a function would be too intrusive and not concordant to the philosophy of stringi

but::: (a better idea) -  why not creating your own package that simplifies

[2018-03-06 10:45] #292 closed

[2018-03-14 02:53] Serenthia commented on #291
Just a note here in case anyone else has the same issue.

@gagolews is correct that the issue wasn't with stringi but instead in `~/.R/Makevars`.  Installation was successful upon deleting this file.

[2018-04-08 22:07] barryrowlingson commented on #288
This might also manifest when the argument is a single NA - was about to file this as a separate issue bit it looks similar enough:

Match a vector of length 2 with one NA in it - get two rows  and 2 columns (one for the regex, one for the capture group), as expected:

[code]

Match an NA, returns single-column:

[code]

Can't see documentation for this, and I'd expect the result from my second ex

[2018-04-09 10:30] #283 closed

[2018-04-09 10:37] gagolews commented on #288
Sorry, @hadley, I've this issue got lost in my spambox. Fix pending.

[2018-04-09 11:24] #288 closed

[2018-04-09 11:25] #290 closed

[2018-04-11 17:32] viking commented on #177
This is still an issue in Solaris 10. Installing manually with `R CMD INSTALL --configure-args=--disable-cxx11` works as noted, however.

[2018-04-12 07:57] gagolews commented on #177
I have no idea how to get rid of the `symbol _ZTVN10__cxxabiv117__class_type_infoE: referenced symbol not found` error on Solaris :( Literally tried everything (I came up with)

[2018-04-17 13:23] FelixErnst opened #293 "stri_unescape_unicode - invalid escape sequence detected for "\\""
Hi

[code]

In the man page for stri_unescape_unicode "\\\\" is explicitly mentioned. Therefore, shouldn't this result in "\\"?

Is this a bug or am I using the function wrongly?
Thanks for any help.

[2018-04-17 16:24] gagolews commented on #293
In order to input `\\` in R, you should type `\\\\`. It's not a bug, it's a feature.

[2018-04-17 16:24] #293 closed

[2018-04-20 18:44] gagolews commented on #274
Apologies, the issue sank in my spamfolder. Hope you resolved the problem yourself.

[2018-04-20 18:44] #274 closed

[2018-04-20 18:47] gagolews commented on #279
Hi, I upgraded ICU to v61.1 (available on github)

The current result is:

[code]

[2018-04-20 18:47] #279 closed

[2018-04-20 18:58] gagolews commented on #278
I guess `stri_replace_all_regex(txt, "[\\p{Z}\\p{C}\\p{S}\\p{P}\\p{M}]", ' ')` almost doest the trick.
The problem is with the "nose" element, which is http://www.fileformat.info/info/unicode/char/0296/index.htm

[2018-04-20 18:58] #278 closed

[2018-04-20 18:59] gagolews commented on #277
Closing as no response given in n months, n > 6

[2018-04-20 18:59] #277 closed

[2018-04-20 19:04] gagolews commented on #276
In the most recent version of UNICODE the character

[code]

belongs to the `\p{So}` (other, symbol) class. I can't do anything about it, perhaps the Unicode consortium knows better.

But if you apply the NKFD transform, you get:

[code]

Hope this helps

[2018-04-20 19:04] #276 closed

[2018-04-20 19:06] #270 closed

[2018-04-20 19:10] gagolews commented on #265
the github version of stringi already has support of emojis, thanks to the update to icu

[code]

[2018-04-20 19:16] gagolews commented on #265
So actually the black-telephone example you provided is:

[code]

[2018-04-20 19:31] gagolews commented on #266
[code]

[2018-04-20 19:46] #188 closed

[2018-04-20 19:49] gagolews commented on #93
stri_enc_detect relies on ICU, closing

[2018-04-20 19:49] #93 closed

[2018-04-20 19:59] #193 closed

[2018-04-20 20:32] gagolews commented on #97
I guess this is out of stringi's scope now

[2018-04-20 20:32] #97 closed

[2018-04-20 20:39] gagolews commented on #84
out of stringi's scope

[2018-04-20 20:39] #84 closed

[2018-04-20 20:45] gagolews commented on #85
out of stringi's scope

[2018-04-20 20:45] #85 closed

[2018-04-20 20:45] gagolews commented on #95
out of stringi's scope

[2018-04-20 20:45] #95 closed

[2018-04-20 20:47] gagolews commented on #145
out of stringi's scope now

[2018-04-20 20:47] #145 closed

[2018-04-20 20:50] gagolews commented on #264
I guess this would require a complete rewrite of the library. Maybe some day (stringi v2), perhaps with a more language-agnostic design (to allow e.g., a Python version of stringi).

[2018-04-20 20:50] #264 closed

[2018-04-20 20:51] gagolews commented on #200
I guess this is out of stringi's scope now.

[2018-04-20 20:51] #200 closed

[2018-04-20 20:53] gagolews commented on #289
Hmm... `paste()` behaves more like a vectorized arithmetic operator, say, `+`, and not an aggregation function, say `sum()`

So I don't think this function should get rid of any strings

Maybe you mean the `stri_flatten()` function?

[2018-04-20 20:55] hadley commented on #289
Except when `collapse` is non-NULL.  And `pmin()` and `pmax()` have `na.rm` arguments

[2018-04-20 21:00] gagolews commented on #289
Thanks for pointing out that

[code]

[2018-04-20 21:54] gagolews commented on #289
I'm adding this to `stri_flatten`

[code]

[2018-04-20 21:59] #289 closed

[2018-04-20 22:13] gagolews commented on #289
And I added `stri_remove_empty` and `stri_na2empty` funs

[2018-04-21 10:30] markvanderloo commented on #85
Also, there is the 'phonics' package now.

[2018-04-21 15:51] gagolews commented on #279
Like 98%

[code]

It misses the following ones:

[code]

[2018-04-21 15:57] gagolews commented on #281
I gave it a thought, I want to keep the behavior consistent with, among others;

[code]

but `stri_paste` has had the `ignore_null` arg for a long time

[2018-04-21 15:57] #281 closed

[2018-04-21 17:34] gagolews commented on #285
[code]

"trivial" lists don't yield any warning
[code]

but:

[code]

[2018-04-21 17:34] #285 closed

[2018-04-21 18:38] gagolews opened #295 "wrap double u_getNumericValue(UChar32 c)"

[2018-04-23 15:07] viking commented on #177
Understandable. It's frustrating that R supports Solaris to be honest, at least to me.

[2018-05-03 14:47] AndreMikulec commented on #289
Thanks,
My earlier concept had a somewhat similar idea.
"
Safe concatenation/comparison operator #292
"
The original idea was because if I do I concatination
[code]
and "if()" is not TRUE, then, if(){   } silently returns a NULL,
and that NULL wreaks havoc in string concatination.

[2018-05-03 19:41] upton9265 opened #296 "cannot install stringi on CentOS 6 in R-3.4.4"
I get this error when attempting to install stringi using this command from within R
 install.packages("stringi",configure.args='--disable-pkg-config')

checking for R_HOME... /usr/lib64/R
checking for R... /usr/lib64/R/bin/R
checking for endianness... little
checking for R >= 3.1.0 for C++11 use... yes
checking for R < 3.4.0 for CXX1X flag use... no
checking for local ICUDT_DIR... icu61/data
chec

[2018-05-04 09:04] gagolews commented on #296
Why don't you give `--disable-cxx11` a try? I see you use `g++ -m64 -std=gnu++0x`, which does no fully support c++11, maybe there's the problem (try editing the `/usr/lib64/R/etc/Makeconf` to set up correct compiler flags for c++11)

[2018-05-04 14:13] SevaVigg opened #297 "Cannot install stringi after upgrading to R 3.5.0, Mac OS Sierra"
tried both install.packages('stringi', configure.args='--disable-cxx11') and install.package('stringi')
Here is the outcome

* installing *source* package ‘stringi’ ...
** package ‘stringi’ successfully unpacked and MD5 sums checked
checking for R_HOME... /Library/Frameworks/R.framework/Resources
checking for R... /Library/Frameworks/R.framework/Resources/bin/R
checking for endianness... little
ch

[2018-05-04 15:14] SevaVigg commented on #297
UPDATE:
Resolved by removing -fopenmp in ~/.R/Makevars
CC=/usr/local/opt/llvm/bin/clang -fopenmp
and then running
install.packages('stringi', configure.args='--disable-cxx11')

[2018-05-05 06:40] #297 closed

[2018-05-06 15:47] charlesutton78 opened #298 "Windows 10 R 3.2.4 Issue: 'stringi' 1.1.5 is being loaded, but >= 1.1.6 is required"
Hello. I'm new to all this so provide some guidance on best way to post.

My issue is 'stringi' 1.1.5 is being loaded, but >= 1.1.6 is required which is preventing stringr from working. I can't seem to force stringi to update beyond 1.1.5 although. I've provided command, error, and sessionInfo.

I encountered this while trying to follow David Langer's Intro to Data Science series (https://www.yout

[2018-05-07 14:47] charlesutton78 commented on #298
Thanks Marek. Did exactly this in RGui 32 bit. Message I get is below. Then when I try to run stringr i get the other message below. The issue is with stringr not being able to launch without a version of stringi greater than 1.1.6.

BTW - I've also tried a manual install from the CRAN website that had 1.1.7 available, but when I unpacked into my win-library and run in RStudio, error message is ab